<div [formGroup]="InventoryReceiptDetails">
    <!-- <div class="hidden">
        <input type="number" class="hidden" formControlName="Id"><input />
    </div> -->
    <div class="row">
        <div class="col-md-3">
            <label>Item Name</label>
            <select class="form-control" formControlName="InventoryItemId">
                <option class="form-control" *ngFor="let inventoryitems of inventoryItem" [value]="inventoryitems.Id">{{inventoryitems.Name}}</option>
            </select>
            <div class="alert alert-danger" *ngIf="InventoryReceiptDetails.get('InventoryItemId').hasError('required') && formSubmitAttempt">
                Item Name is required
            </div>
        </div>
        <div class="col-md-2">
            <label>Quantity</label>
            <input type="number" class="form-control" formControlName="Quantity" (blur)="calculateAmount(InventoryReceiptDetails.controls)" />
            <div class="alert alert-danger" *ngIf="InventoryReceiptDetails.get('Quantity').hasError('required') && formSubmitAttempt">
                Quantity is required
            </div>
        </div>
        <div class="col-md-2">
            <label>Rate</label>
            <input type="number" class="form-control" formControlName="Rate" (blur)="calculateAmount(InventoryReceiptDetails.controls)" />
            <div class="alert alert-danger" *ngIf="InventoryReceiptDetails.get('Rate').hasError('required') && formSubmitAttempt">
                Rate is required
            </div>
        </div>
        <div class="col-md-3">
            <label>TotalAmount</label>
            <input type="number" class="form-control" formControlName="TotalAmount" />
        </div>
    <!-- </div>
    <br />
    <div class="row"> -->
        <div class="col-md-2">
            <label>Batch No.</label>
            <input type="text" class="form-control" formControlName="BatchNo" />
            <div class="alert alert-danger" *ngIf="InventoryReceiptDetails.get('BatchNo').hasError('required') && formSubmitAttempt">
                BatchNo is required
            </div>
        </div>

        <div class="col-md-3">
            <label>M.Date</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControlName="Mdate" />
                <!-- <input type="text" class="form-control" placeholder="yyyy.mm.dd" formControlName="Mdate" /> -->
                <div class="text-danger" *ngIf="(InventoryReceiptDetails.get('Mdate').hasError('InvalidDate') || InventoryReceiptDetails.get('Mdate').hasError('required'))">
                    {{ InventoryReceiptDetails.get('Mdate').getError('InvalidDate') }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label>E.Date</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControlName="Edate" />
                <!-- <input type="text" class="form-control" placeholder="yyyy.mm.dd" formControlName="Edate" /> -->
                <div class="text-danger" *ngIf="(InventoryReceiptDetails.get('Edate').hasError('InvalidDate') || InventoryReceiptDetails.get('Edate').hasError('required'))">
                    {{ InventoryReceiptDetails.get('Edate').getError('InvalidDate') }}
                </div>
            </div>
        </div>

    </div>
</div>