<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/dashboard']">
                <img src="../../images/logo.png" class="pull-left" alt="D Cube Hotel">
                <div style="padding-top: 1px;width: 200px; text-align: center;">
                    <h5 style="color: #ffffff; font-weight: 600;">
                        D Cube Hotel System (V1)
                    </h5>
                </div>
            </a>
        </div>
        <div id="navbar1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Master <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/reservation/payment-types']">Payment Types</a></li>
                        <li><a [routerLink]="['/reservation/facilities']">Facility</a></li>
                        <li><a [routerLink]="['/reservation/room-types']">Room Types</a></li>
                        <li><a [routerLink]="['/reservation/customer-types']">Customer Types</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservation<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a [routerLink]="['/reservation/reservation-types']">Reservation Types</a></li>
                        <li><a [routerLink]="['/reservation/room-types']">Room Types</a></li>
                        <li><a [routerLink]="['/reservation/rooms']"> Rooms</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <img style="height: 18px;" src="../../images/logo.png" alt="DCube Hotel">&nbsp;Welcome! {{ user.UserName }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="dashboard-wrapper">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/reservation/reservationinquirycomponent">
                <div class="dashboard-item col-md-4">
                    <span><img src="../../../../../images/enquiry.png" /></span>
                    <h3>Inquiry</h3>
                </div>
            </a>
            <a routerLink="/reservation">
                <div class="dashboard-item col-md-4">
                    <span><img src="../../../../../images/Booking.jpg" /></span>
                    <h3>Booking</h3>
                </div>
            </a>
            <a routerLink="/reservation/checkin">
                <div class="dashboard-item col-md-4">
                    <span><img src="../../../../../images/CheckIn.png" /></span>
                    <h3>Check in</h3>
                </div>
            </a>
        </div>
        <div class="col-md-12">
            <a routerLink="/reservation/checkout">
                <div class="dashboard-item col-md-3">
                    <span><img src="../../../../../images/checkout.jpg" /></span>
                    <h3>Check out</h3>
                </div>
            </a>
            <a routerLink="/reservation/reservation-status">
                <div class="dashboard-item col-md-3">
                    <span><img src="../../../../../images/Guest.png" /></span>
                    <h3>Guest Status</h3>
                </div>
            </a>
            <a routerLink="/reservation/customers">
                <div class="dashboard-item col-md-3">
                    <span><img src="../../../../../images/Customer.png" /></span>
                    <h3>Customer</h3>
                </div>
            </a>
        </div>
    </div>
</div>