
<div class="row m-0">
    <div class="loading" *ngIf="isLoading">
        <div class="spinner"></div>
    </div>
    <div class="pos-content">
        <h2 style="color: #4267b2;margin: 10px auto 10px 14px;font-weight: bold;">
            Settle
        </h2>
        <div class="row m-0">
            <div class="col-md-5">
                <div class="tickets-section">
                    <div class="tickets-section__header">
                        <h5>
                            {{ (ticket) ? '#' + ticket.TicketId : '' }} 
                            {{selectedCustomerId ? 'Customer: ' + (customerNew)?.CustomerName : 
                            'Table:' + (tableNew)?.TableId
                            }}
                        </h5>
                    </div>
                    <div class="tickets-section__body">
                        
                            <!-- <div *ngFor="let order of ordersNew"> -->
                                <!-- <div class="row ticket-item" *ngFor="let item of order.OrderItems"> -->
                                    <div class="row ticket-item" *ngFor="let item of mergedItemList">
                                        <div class="col-6 text-left">
                                            <p>
                                                <span>{{ getProductById(productList, item.ItemId)?.Name }}</span>
                                            </p>
                                        </div>
                                        <div class="col-2 text-left">
                                            <p>
                                                <span>
                                                    <strong>{{ item.Qty }}</strong>
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-4 text-right" style="padding-right:20px;">
                                            <p>
                                                <strong>Rs.{{ProductPrice(item.UnitPrice, item.Qty)}}</strong>
                                            </p>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            <!-- </div> -->
                        
                    </div>
                    <div class="tickets-secton__footer" style="padding-top:10px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Ticket Total: </strong>
                                <strong class="right">Rs. {{ calculateSum().toFixed(2) }}</strong> 
                            </div>
                            <!-- <div class="col-md-6 text-right">
                                <strong>Rs. {{ calculateSum().toFixed(2) }}</strong>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Discount: </strong>
                                <strong class="right">Rs. {{ calculateDiscount() }}</strong>
                            </div>
                            <!-- <div class="col-md-6 text-right">
                                <strong>Rs. {{ calculateDiscount() }}</strong>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Service Charge: </strong>
                                <strong class="right">Rs. {{ calculateServiceCharge() }}</strong>
                            </div>
                            <!-- <div class="col-md-6 text-right">
                                <strong>Rs. {{ calculateServiceCharge() }}</strong>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>VAT (13%): </strong>
                                <strong class="right">Rs. {{ calculateVat() }}</strong>
                            </div>
                            <!-- <div class="col-md-6 text-right">
                                <strong>Rs. {{ calculateVat() }}</strong>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <strong>Grand Total: </strong>
                                <strong class="right">Rs. {{ getGrandTotal() }}</strong>
                            </div>
                            <!-- <div class="col-md-6 text-right">
                                <strong>Rs. {{ getGrandTotal() }}</strong>
                            </div> -->
                        </div>
                        <div *ngIf="ticket?.PaymentHistory.length">
                            <div class="row">
                                <div class="col-sm-12">
                                    <strong class="pull-left">Payment Total: </strong>
                                    <strong class="pull-right">Rs. {{ getTotalCharged(ticket).toFixed(2)}} </strong>
                                </div>
                            </div>
                            <div class="row" *ngFor="let pay of ticket.PaymentHistory" style="color:green">
                                <div class="col-sm-6 text-left">
                                    {{ getDate(pay.DateTime) }}
                                </div>
                                <div class="col-sm-3 text-left">
                                    {{ pay.PaymentMode }}
                                </div>
                                <div class="col-sm-3 text-right">
                                    Rs. {{ pay.AmountPaid.toFixed(2) }}
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row" *ngIf="ticket?.PaymentHistory.length">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong class="pull-left">Payment Total: </strong>
                                        <strong class="pull-right">Rs. {{ getTotalCharged(ticket).toFixed(2)}} </strong>
                                    </div>
                                </div>
                                <div class="row scrollbar">
                                    <div class="col-md-12">
                                        <dl class="dl-horizontal" *ngFor="let pay of ticket.PaymentHistory" style="color:green">
                                            <dt>{{ getDate(pay.DateTime) }}</dt>
                                            <dd>{{ pay.PaymentMode }} &nbsp; Rs. {{ pay.AmountPaid }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        
                        <div class="row balance-section">
                            <div class="col-sm-12">
                                <strong *ngIf="!hasRefundable">Balance: </strong>
                                <strong *ngIf="hasRefundable">Refundable Amount: </strong>
                                <strong class="right">Rs. {{ getFinalBalance().toFixed(2) }}</strong>
                            </div>
                            <!-- <div class="col-md-6 text-left" *ngIf="hasRefundable">
                                <strong>Refundable Amount: </strong>
                            </div>
                            <div class="col-md-6 text-right">
                                <strong>Rs. {{ getFinalBalance().toFixed(2) }}</strong>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="calculation-section">
                    <div class="calculations-section__header">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Total:</label>
                            </div>
                            <div class="col-md-8 pull-right text-right">
                                <input type="text" class="" [(ngModel)]="totalPayable" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Charged:</label>
                            </div>
                            <div class="col-md-8 pull-right text-right">
                                <input type="text" class="" [(ngModel)]="selectedValue" />
                            </div>
                        </div>
                    </div>
                    <div class="calculations-section__body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let n of ['1', '2', '3']">
                                        <button type="button" (click)="selectValue(n)" class="btn btn-default">{{ n }}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let n of ['4', '5', '6']">
                                        <button type="button" (click)="selectValue(n)" class="btn btn-default">{{ n }}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let n of ['7', '8', '9']">
                                        <button type="button" (click)="selectValue(n)" class="btn btn-default">{{ n }}</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let n of ['.', '0', 'C']">
                                        <button type="button" (click)="selectValue(n)" class="btn btn-default">{{ n }}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 actions">
                                <button type="button" class="btn btn-default" (click)="choose(totalPayableInt.toFixed(2))">All</button>
                                <button type="button" class="btn btn-default" (click)="choose((totalPayableInt/2).toFixed(2))">1/2</button>
                                <button type="button" class="btn btn-default" (click)="choose((totalPayableInt/3).toFixed(2))">1/3</button>
                                <button type="button" class="btn btn-default" (click)="choose(totalPayableInt.toFixed(2))">Ticket</button>
                                <button type="button" class="btn btn-default" (click)="choose(totalPayableInt.toFixed(2))">
                                    Rs. {{ totalPayableInt.toFixed(2) }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="calculations-section__footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-default" (click)="addDiscount()" [disabled]="calculateVoidGiftSum() > 0 || getFinalBalance().toFixed(2) === '0.00' || selectedValue == 0">Discount</button>
                                <!--<button type="button" class="btn btn-default" (click)="roundTicket(ticket)" [disabled]="selectedValue == 0 || getFinalBalance().toFixed(2) === '0.00'">Round</button>-->
                                <!-- [disabled]="getGrandTotal() != getTotalCharged(ticket)" -->
                                <button 
                                    type="button" 
                                    
                                    class="btn btn-default" 
                                    (click)="printInvoice()">
                                    Print Bill
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="actions-section">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-default" (click)="payCash(ticket)" [disabled]="selectedValue == 0 || getFinalBalance().toFixed(2) === '0.00'">Cash</button>
                            <button type="button" class="btn btn-default" (click)="payByCard(ticket)" [disabled]="selectedValue == 0 || getFinalBalance().toFixed(2) === '0.00'">Credit Card</button>
                            <!--<button type="button" class="btn btn-default" (click)="payVoucher(ticket)" [disabled]="selectedValue == 0 || getFinalBalance().toFixed(2) === '0.00'">Voucher</button>-->
                            <button type="button" class="btn btn-default" (click)="payCustomerAmount(ticket)">Customer Account</button>
                            <button type="button" class="btn btn-danger" (click)="close(ticket)">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>