<!-- 
<div [formGroup]="journalDetailsFrm">   
    <div class="row">
        <div class="form-group col-md-2">
            <select class="form-control" formControlName="entityLists" (change)="enableDisable(journalDetailsFrm.controls.AccountValues.controls[i].controls)">
                <option *ngFor="let entityList of entityLists" [ngValue]="entityList.name">{{ entityList.name }}</option>
            </select>
            <small [hidden]="journalDetailsFrm.controls.AccountValues.controls[i].controls.entityLists.valid" class="text-danger">
                Please select Dr/Cr
            </small>
        </div>
        <div class="form-group col-md-5">
            <select class="form-control " formControlName="AccountTypeId">
                <option *ngFor="let acctypes of acctype" [ngValue]="acctypes.Id">{{acctypes.Name}}</option>
            </select>
            <small [hidden]="journalDetailsFrm.controls.AccountValues.controls[i].controls.AccountTypeId.valid" class="text-danger">
                Please select the Name
            </small>
        </div>
        <div class="form-group col-md-2">
            <input type="number" class="form-control" placeholder="Debit" formControlName="Debit" />

        </div>
        <div class="form-group col-md-2">
            <input type="number" class="form-control" placeholder="Credit" formControlName="Credit">
        </div>
    </div>
</div> -->

