<br />
<div [formGroup]="SaleOrderDetails">
    <div class="col-md-4">
        <label>
            <strong>Name of Item:</strong>
        </label>
        <select class="col-md-3 form-control" formControlName="ItemId" (blur)="calcRate(SaleOrderDetails.controls)">
            <option class="form-control" *ngFor="let inventoryitems of inventoryItem" [value]="inventoryitems.Id">{{inventoryitems.Name}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <label>
            <strong>Quantity:</strong>
        </label>
        <input type="number" class="form-control" formControlName="Qty" (blur)="calculateAmount(SaleOrderDetails.controls)" />
    </div>
    <div class="col-md-2">
        <label>
            <strong>Rate:</strong>
        </label>
        <input type="number" class="form-control" formControlName="UnitPrice" (blur)="calculateAmount(SaleOrderDetails.controls)" readonly="true" />
    </div>
    <div class="col-md-3">
        <label>
            <strong>Amount:</strong>
        </label>
        <input type="number" class="form-control" formControlName="TotalAmount" readonly="true" />
    </div>
</div>