<reservationdashboard-app></reservationdashboard-app>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        ROOMS
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <img src="../../images/Add.png" (click)="openModal(template)" height="60" width="60" />
                <div class="alert alert-info" role="alert" *ngIf="isLoading">
                    <img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
                <div *ngIf='rooms && rooms.length==0' class="alert alert-info" role="alert">No record found!</div>
                <table class='table table-striped' *ngIf='rooms && rooms.length'>
                    <thead>
                        <tr>
                            <th>Room Number</th>
                            <th>Max Capacity</th>
                            <th>RoomTypeId</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let room of rooms">
                            <td>{{room.RoomNumber}}</td>
                            <td>{{room.MaxCapacity}}</td>
                            <td>{{getRoomType(room.RoomTypeId).Name}}</td>

                            <td>
                                <span>
                                    <img src="../../images/Edit.png" (click)="editRoom(room.Id,template)" height="32" width="32" />
                                </span>
                                <span>
                                    <img src="../../images/Delete.png" (click)="deleteRoom(room.Id,template)" height="32" width="32" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                </div>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div>
</div>
<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(roomForm)" [formGroup]="roomForm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group" style="margin-right: auto">
                    <label class="control-label col-sm-4">Room Number:</label>
                    <div class="col-sm-6" style="margin: inherit;">
                        <input type="text" class="form-control" placeholder="" formControlName="RoomNumber" setAutoFocus  tabindex="1">
                        <div class="alert alert-danger" *ngIf="roomForm.get('RoomNumber').hasError('required') && formSubmitAttempt">
                            Room Number is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="margin-right: auto">
                    <label class="control-label col-sm-4">Max Capacity:</label>
                    <div class="col-sm-6" style="margin: inherit;">
                        <input type="number" class="form-control" placeholder="" formControlName="MaxCapacity" tabindex="2">
                        <div class="alert alert-danger" *ngIf="roomForm.get('MaxCapacity').hasError('required') && formSubmitAttempt">
                            Max Capacity is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="margin-right: auto">
                    <label class="control-label col-sm-4">Room Price:</label>
                    <div class="col-sm-6" style="margin: inherit;">
                        <input type="number" class="form-control" placeholder="" formControlName="RoomPrice" tabindex="3">
                        <div class="alert alert-danger" *ngIf="roomForm.get('RoomPrice').hasError('required') && formSubmitAttempt">
                            Room Price is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="margin-right: auto">
                    <label class="control-label col-sm-4">Room Type:</label>
                    <div class="col-sm-6" style="margin: inherit;">
                        <select class="col-md-3 form-control" formControlName="RoomTypeId" tabindex="4">
                            <option class="form-control" *ngFor="let RType of roomTypes" [ngValue]="RType.Id">{{RType.Name}}</option>
                        </select>
                        <br/>
                        <div class="alert alert-danger" *ngIf="roomForm.get('RoomTypeId').hasError('required') && formSubmitAttempt">
                            Room Type field is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left" tabindex="5">{{modalBtnTitle}}</button>
                <a class="btn btn-danger pull-right" (click)="modalRef.hide()" tabindex="6">Cancel</a>
            </div>
        </div>
    </form>
</ng-template>