<div class="container" style="padding-top: 20px;">
    <div class="row m-0 mt-3">
        <div class="col-md-4">
            <h2 class="header">Reservation Types</h2>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search by Name">
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)="openModal(template)" style="float: right">
                <strong>
                    <i class="fa fa-plus"></i>
                    Add
                </strong>
            </button>
        </div>
    </div>

    <div class="row m-0 mt-2">
        <div class="col-sm-12 table-responsive">
            <div class="alert alert-info" role="alert" *ngIf="isLoading"><img src="../../assets/images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='reservationTypes && reservationTypes.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-bordered' *ngIf='reservationTypes && reservationTypes.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customerType of reservationTypes">
                        <td>{{customerType.Name}}</td>
                        <td>
                            <div class="d-flex">
                                <button class="btn btn-primary btn-sm" (click)="editDepartment(customerType.Id,template)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-sm ml-2" (click)="deleteDepartment(customerType.Id,template)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>

                            <!-- <span><img src="../../images/Edit.png" (click)="editDepartment(customerType.Id,template)" height="32" width="32" /></span>
                            <span><img src="../../images/Delete.png" (click)="deleteDepartment(customerType.Id,template)" height="32" width="32" /></span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<!-- <div class='panel panel-primary'>
    <div class='panel-heading'>
        RESERVATION TYPES
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <img src="../../images/Add.png" (click)="openModal(template)" height="60" width="60" />
                <div class="alert alert-info" role="alert" *ngIf="isLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
                <div *ngIf='reservationTypes && reservationTypes.length==0' class="alert alert-info" role="alert">No record found!</div>
                <table class='table table-striped' *ngIf='reservationTypes && reservationTypes.length'>
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let customerType of reservationTypes">
                            <td>{{customerType.Name}}</td>
                            <td>
                                <span><img src="../../images/Edit.png" (click)="editDepartment(customerType.Id,template)" height="32" width="32" /></span>
                                <span><img src="../../images/Delete.png" (click)="deleteDepartment(customerType.Id,template)" height="32" width="32" /></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                </div>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div>
</div> -->

<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(reservationTypeForm)" [formGroup]="reservationTypeForm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="Name"  setAutoFocus  tabindex="1">
                        <div class="alert alert-danger mt-1" *ngIf="reservationTypeForm.get('Name').hasError('required') && formSubmitAttempt">
                            Name is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left" tabindex="2">{{modalBtnTitle}}</button>
                <button type="button" class="btn btn-danger pull-right ml-2" (click)="modalRef.hide();">Cancel</button>
                <!-- <a class="btn btn-danger pull-right" (click)="modalRef.hide()" tabindex="3">Cancel</a> -->
            </div>
        </div>
    </form>
</ng-template>
