.card_border {
 
    border: 1px solid #000;
    border-radius: 6px;
    color:white;
    
  }

  
  
  
  
  
  .icon {
    color: #fff;
    min-width: 34px;
    height: 35px;
    text-align: center;
    position: relative;
    border-right: 1px solid #fff;
    font-size: 23px;
  }
  