<div class="container" style="padding-top: 20px;">
    <div class="row m-0 mt-3">
        <div class="col-md-4">
            <h2 class="header">Category</h2>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" [(ngModel)]="MenuCategory" placeholder="Search by Name">
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)="addMenuCategory(template)" style="float: right">
                <strong>
                    <i class="fa fa-plus"></i>
                    Add
                </strong>
            </button>
        </div>
    </div>

    <div class="row m-0 mt-2">
        <div class="col-sm-12 table-responsive">
            <table class='table table-bordered' *ngIf='menucategories && menucategories.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menucategory of (menucategories | filterByCategory:MenuCategory)">
                        <td>{{menucategory.Name}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="editMenuCategory(menucategory.Id, template)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm ml-2" (click)="deleteMenuCategory(menucategory.Id, template)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='menucategories && menucategories.length==0' class="alert alert-info" role="alert">No record found!</div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>



<!-- <div class='panel panel-primary'>
    <div class='panel-heading'>
        Menu Category
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div class="col-md-5"> <div style="padding-bottom:10px"><img src="../../../../assets/images/Add.png (click)="addMenuCategory(template)" height="60" width="60" /></div></div>
            <div class="col-md-1"> Search: </div>
            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="MenuCategory" placeholder="Search by Name">
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='menucategories && menucategories.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='menucategories && menucategories.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menucategory of menucategories ">
                        <td>{{menucategory.Name}}</td>
                        <td>
                            <span><img src="../../../../assets/images/Edit.png" (click)="editMenuCategory(menucategory.Id, template)" height="32" width="32" /></span>
                            <span><img src="../../../../assets/images/Delete.png" (click)="deleteMenuCategory(menucategory.Id, template)" height="32" width="32" /></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div> -->

<ng-template #template data-backdrop="static" data-keyboard="false" data-target="#template">
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(MenuCategoryFrm)" [formGroup]="MenuCategoryFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" placeholder="" formControlName="Name">
                        <div class="alert alert-danger mt-1" *ngIf="MenuCategoryFrm.get('Name').hasError('required') && formSubmitAttempt">
                            CategoryName is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left">{{modalBtnTitle}}</button>
                <!-- <a class="btn btn-danger pull-right" (click)="modalRef.hide()">Cancel</a> -->
                <button 
                    type="button"
                    class="btn btn-danger ml-1"
                    (click)="modalRef.hide()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</ng-template>



