<br />
<div [formGroup]="SaleOrderDetails">
    <div class="col-md-4">
        <select class="col-md-3 form-control" formControlName="ItemId" (change)="updateRate($event.target.value)">
            <option class="form-control" *ngFor="let inventoryitems of inventoryItem" [value]="inventoryitems.Id">{{inventoryitems.Name}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" formControlName="Qty" (blur)="calculateAmount(SaleOrderDetails.controls)" />
        <div class="alert alert-danger" *ngIf="SaleOrderDetails.get('Qty').hasError('required') && formSubmitAttempt">
            Quantity is required
        </div>
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" formControlName="UnitPrice" (blur)="calculateAmount(SaleOrderDetails.controls)" />
        <div class="alert alert-danger" *ngIf="SaleOrderDetails.get('UnitPrice').hasError('required') && formSubmitAttempt">
            Quantity is required
        </div>
    </div>
    <div class="col-md-3">
        <input type="number" class="form-control" formControlName="TotalAmount" readonly="true" />
    </div>
</div>
<br />