
.btn-mar .btn{
              margin-right:25px;
              font-size:15px;
              font-family: 'Raleway',sans-serif;
              padding:5px 10px;
              color: #fff!important;
              border:none!important;
              margin-top: 10px;
}
.firstrow img{
               width: 60px;
               height:60px;
               transition: transform 2s linear;
}
.firstrow img:hover{
                   transform:scale(1.05,1.05);
}
.btn-mar{
         padding-left:11%;
         margin-left:8%;
}
.btn-mar .btn-success{
                      background:#202264;
}
.btn-mar .btn-info{
                    background:#2b8638;
}
.btn-mar .btn-primary{
                      background:#ecbe07;
                     
}
.btn-mar .btn-warning{
                      background:#972323;
}
.secondrow{
           padding-top: 25px;
           padding-bottom:25px;
           font-size:15px!important;
           font-family:'Raleway',sans-serif;
}
.secondrow input,button{
                 font-size:14px!important; 
}
.secondrow .padfirst{
                     padding-top:5px;
                     text-align:center;
}

.padonradio{
            margin-top: 40px;
}
.padonradio input{
                 margin-left:20px!important;
}

