<div class='panel panel-primary'>
    <div class='panel-heading'>
        Purchase Order
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <div class="row">
                    <div class="col-md-3">
                        <div (click)="addPurchaseOrder()" style="cursor: pointer">
                            <span>
                                <img src="../../../../assets/images/Add.png" height="60" width="60" />
                            </span>
                            Add Purchase Order
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2">
                                Filter By Date:
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [(ngModel)]="fromDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [(ngModel)]="toDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-success" (click)="filterPurchaseOrdersByDate()"> GO</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary pull-left" (click)="exportTableToExcel('purchaseTable')"> Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...
            </div>
            <div *ngIf='purchaseorder && purchaseorder.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table id="purchaseTable"  *ngIf='purchaseorder && purchaseorder.length'>
                <thead>
                    <tr>
                        <th colspan="5" class="text-center">
                            <strong>{{ company?.NameEnglish }}</strong>
                            <br /> Purchase Order Voucher
                            <br /> {{ currentYear?.NepaliStartDate }} - {{ currentYear?.NepaliEndDate }}
                        </th>
                    </tr>
                    <tr style="background: #bcd1e2;">
                        <th>Voucher Type</th>
                        <th>Voucher No</th>
                        <th>Amount</th>
                        <th class="export-no-display">File</th>
                        <th class="export-no-display">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let purchaseorders of purchaseorder">
                        <td>{{purchaseorders.Name}}</td>
                        <td>{{purchaseorders.AccountTransactionDocumentId}}</td>
                        <td>{{purchaseorders.Amount}}</td>
                        <td class="export-no-display">
                            <img *ngIf="purchaseorders.File" (click)="viewFile(purchaseorders.File,imageView)" [src]="purchaseorders.File" alt="Document"
                                 style="height:30px; border-radius:5px;" />
                            <span *ngIf="purchaseorders.File == ''">Not Added</span>
                        </td>
                        <td class="export-no-display">
                            <span>
                                <img src="../../../../assets/images/Edit.png" (click)="editPurchaseOrder(purchaseorders.Id)" height="32" width="32" />
                            </span>
                            <span>
                                <img src="../../../../assets/images/Delete.png" (click)="deletePurchaseOrder(purchaseorders.Id)" height="32" width="32" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<ng-template #template>
    <form novalidate (ngSubmit)="onSubmit(fileUpload)" [formGroup]="purchaseOrderFrm" class="panel-primary">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <label class="control-label col-md-2">
                    <strong>Voucher Type:</strong>
                </label>
                <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="Name" readonly="true">
                </div>
                <div class="hidden">
                    <input type="text" class="hidden" placeholder="Voucher No" formControlName="AccountTransactionDocumentId" />
                </div>
                <label class="control-label col-md-2 text-right">
                    <strong>Order Date:</strong>
                </label>
                <div class="col-md-4">
                    <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker formControlName="Date" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="col-md-4">
                            <label>
                                <strong>Name of Item:</strong>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label>
                                <strong>Quantity:</strong>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <label>
                                <strong>Rate:</strong>
                            </label>
                        </div>
                        <div class="col-md-3">
                            <label>
                                <strong>Amount:</strong>
                            </label>
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label>
                        </div>
                        <div formArrayName="PurchaseOrderDetails">
                            <div *ngFor="let PurchaseOrderDetail of purchaseOrderFrm.controls.PurchaseOrderDetails.controls; let i=index" [formGroupName]="i">
                                <div class="col-md-11">
                                    <my-purchaseOrderDetail-list [group]="purchaseOrderFrm.controls.PurchaseOrderDetails.controls[i]"></my-purchaseOrderDetail-list>
                                </div>
                                <div class="col-md-1">
                                    <span *ngIf="purchaseOrderFrm.controls.PurchaseOrderDetails.controls.length > 1" style="cursor: pointer; margin-right: 70px; font-size: 30px" class="fa fa-window-close pull-right" (click)="removePurchaseOrder(i)"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8"></div>
                        <div class="form-group col-md-3">
                            <label>Total Amount:</label>
                            <input style="margin-left: -75px;" type="number" class="form-control" placeholder="Total" formControlName="TotalAmount" value="{{calculateAmount()}}"
                                   readonly="true" />
                        </div>
                        <div class="col-md-1"></div>
                        <div class="row">
                            <div class="col-md-12 text-right" style="margin-left: -45px; margin-top: -50px;">
                                <button type="button" class="btn btn-success" [disabled]="purchaseOrderFrm.controls.PurchaseOrderDetails.invalid" (click)="addPurchaseOrderitems()">Add Item +</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-7">
                    <textarea name="Description" formControlName="Description" rows="4" cols="50" class="form-control" placeholder="description goes here..."></textarea>
                    <div class="text-danger" *ngIf="purchaseOrderFrm.get('Description').hasError('required') && formSubmitAttempt">
                        Description is required
                    </div>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-10 custom-padding">
                        <app-file-upload #fileUpload [extraFormData]="purchaseOrderFrm" [uploadUrl]="uploadUrl" [dropMessage]="dropMessage"></app-file-upload>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left" [disabled]="purchaseOrderFrm.invalid">{{modalBtnTitle}} </button>
                <button type="button" class="btn btn-danger pull-right" (click)="reset(); modalRef.hide();">Cancel</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #imageView>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <img style="width:100%" [src]="fileUrl" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>