
<ng-template #template>
    <form class="" novalidate (ngSubmit)="onSubmit(MenuItemForm,fileUpload)" [formGroup]="MenuItemForm">
        <div class="modal-header panel-heading" style="background-color: #364a70;">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-md-6 ml-auto" style="margin: inherit;">
                        <span> Name:  </span><input type="text" class="form-control" placeholder="Name" formControlName="Name">
                        <div class="alert alert-danger" *ngIf="MenuItemForm.get('Name').hasError('required') && formSubmitAttempt">
                            Name is required
                        </div>
                    </div>
                    <div class="col-sm-6 ml-auto mr-auto" style="margin: inherit;">
                        <span> Category:  </span>
                        <ngx-select-dropdown
                        (change)="selectionChanged($event,i)"
                        [multiple]="false"
                        [config]="config"
                        formControlName="categoryId"
                        [options]="menucategory">
                    </ngx-select-dropdown>
                        




                        
                        <!-- <select class="form-control" formControlName="categoryId">
                            <option *ngFor="let menucategories of menucategory" value={{menucategories.Id}}>{{menucategories.Name}}</option>
                        </select> -->
                        <div class="alert alert-danger" *ngIf="MenuItemForm.get('Name').hasError('required') && formSubmitAttempt">
                            Category is required
                        </div>
                    </div>
                </div>
              
                <div class="row mt-4">
                
                    <div class="col-sm-6 ml-auto">
                      <span> Bar Code:  </span>   <input type="text" class="form-control" placeholder="Barcode" formControlName="Barcode">
                        <div class="alert alert-danger" *ngIf="MenuItemForm.get('Name').hasError('required') && formSubmitAttempt">
                            Code is required
                        </div>
                    </div>

                    <div class="col-md-6">
                        <span> Tag:  </span> <input type="text" class="form-control" placeholder="Tag" formControlName="Tag">
                        <div class="alert alert-danger" *ngIf="MenuItemForm.get('Name').hasError('required') && formSubmitAttempt">
                            Tag is required
                        </div>
                    </div>
                </div>

                <div class="form-group" style="margin: inherit;">
                    
                </div>

                <div class="row mt-4">
                    <div class="col-6 ml-auto">
                       Description <input type="text" name="Description" rows="4" class="form-control" formControlName="Description">
                        <div class="alert alert-danger" *ngIf="MenuItemForm.get('Description').hasError('required') && formSubmitAttempt">
                            Description is required
                        </div>
                    </div>

                    <div class="col-6">
                        Department
                        <select class="form-control p-0" formControlName="DepartmentId">
                            <option *ngFor="let dep of departments" [value]="dep.Id">{{dep.Name}}</option>
                        </select>
                    </div>

                    <!-- <div class="row mt-4">
                        <div class="col-sm-10 ml-3">
                          Upload File  <app-file-upload #fileUpload [extraFormData]="receiptFrm" [uploadUrl]="uploadUrl" [dropMessage]="dropMessage"></app-file-upload>

                        </div>

                        <div *ngIf="modalBtnTitle === 'Update'" class="col-sm-6 ml-3">
                            <img [src]="'data:image/png;base64,'+MenuItemForm.value.PhoteIdentity" alt="" height="50" width="50">
                        </div>

                    </div> -->

                </div>

                <div class="row mt-4">
                    <div class="col-sm-10">
                      Upload Image  <app-file-upload #fileUpload [uploadUrl]="uploadUrl" [dropMessage]="dropMessage"></app-file-upload>
                    </div>

                    <div *ngIf="modalTitle != 'Add Item'" class="col-sm-6">
                        <img [src]="'data:image/png;base64,'+MenuItemForm.value.PhoteIdentity" alt="" height="50" width="50">
                    </div>

                </div>



                
            </div>
            <div>
                <!-- <div class=" row">
                    <div class="container col-md-12 text-right row" style="margin: 0px; margin-top: 15px;">
                        <button type="button" class="btn btn-success pull-right" [disabled]="MenuItemForm.controls.MenuItemPortions.invalid" (click)="addMenuItemPortions()">Add Portion +</button>
                    </div>
                </div> -->
                <div style="background-color: #364a70;color:white" class="mt-4 row">
                    <div class="col-md-6 text-center">
                        <h4><label>Name</label></h4>
                    </div>
                    <div class="col-md-3 text-center">
                        <h4><label>Quantity</label></h4>
                    </div>
                    <div class="col-md-2 text-center">
                        <h4><label>Rate</label></h4>
                    </div>
                    <div class="col-sm-">
                        <label>&nbsp;</label>
                    </div>
                </div>
                <div>
                    <div class="row ml-4 mt-2">
                        <div formArrayName="MenuItemPortions">
                            <div *ngFor="let MenuItemPortions of MenuItemForm.controls.MenuItemPortions.controls; let i=index" [formGroupName]="i">
                                <div class="row ml-3 mt-2">
                                    <div class="col-md-6">
                                        <input type="hidden" formControlName="Id" />
                                        <input type="hidden" formControlName="MenuItemPortionId" />
                                        <textarea class="form-control col-md-12" name="Name" formControlName="Name" rows="1" placeholder="Position Item Name..."></textarea>
                                        <div class="alert alert-danger" *ngIf="MenuItemPortions.get('Name').hasError('required') && formSubmitAttempt">
                                            PortionName is required
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <input type="number" class="form-control" formControlName="Multiplier" />
                                        <div class="alert alert-danger" *ngIf="MenuItemPortions.get('Multiplier').hasError('required') && formSubmitAttempt">
                                            No. of portions is required
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <input type="number" class="form-control" formControlName="Price" />
                                        <div class="alert alert-danger" *ngIf="MenuItemPortions.get('Price').hasError('required') && formSubmitAttempt">
                                            Price is required
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <span style="cursor: pointer; font-size: 30px;" *ngIf="MenuItemForm.controls.MenuItemPortions.controls.length > 1" class="fa fa-window-close pull-right" (click)="removeMenuItemPortions(i)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer row">
                    <div class="container col-md-12 text-center row" style="margin: 0px; margin-top: 15px;">
                        <button type="button" class="btn btn-success pull-right" [disabled]="MenuItemForm.controls.MenuItemPortions.invalid" (click)="addMenuItemPortions()">Add Portion +</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success pull-left" [disabled]="MenuItemForm.invalid">{{modalBtnTitle}}</button>
            <button type="reset" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
    </form>
</ng-template>
<div class="container" style="padding-top: 20px;">
    <!-- <div class="row m-0">
        <div class="col-sm-12">
            <h4>Items</h4>
        </div>
    </div> -->
    <div class="row m-0 mt-3">
        <div class="col-md-4">
            <!-- <h4>Items</h4> -->
            <h2 class="header">Items</h2>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" [(ngModel)]="MenuItemName" placeholder="Search by Name">
        </div>
        <!-- <div class="col-md-6">
        </div> -->
        <div class="col-md-4">
            <button class="btn btn-success" (click)="addMenuItems()" style="float: right">
                <strong>
                    <i class="fa fa-plus"></i>
                    Add
                </strong>
            </button>
        </div>
    </div>

    <div class="row m-0 mt-2">
        <div class="col-sm-12 table-responsive">
            <table class='table table-bordered' *ngIf='menuItems && menuItems.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menuItem of menuItems | FilterMenuItemName: MenuItemName">
                        <td>
                            <img [src]="'data:image/png;base64,'+menuItem.PhoteIdentity" alt="" height="30" width="30">
                        </td>
                        <td>
                            <!-- <img [src]="'data:image/png;base64,'+menuItem.PhoteIdentity" alt="" height="30" width="30"> -->
                            {{menuItem.Name}}
                        </td>
                        <td>
                            {{menuItem.Description}}
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="editMenuItems(menuItem.Id, template)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm ml-2" (click)="deleteMenuItems(menuItem.Id, template)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <!-- <span>
                                <img src="../../../../assets/images/Edit.png" (click)="editMenuItems(menuItem.Id, template)" height="32"
                                     width="32" />
                            </span>
                            <span>
                                <img src="../../../../assets/images/Delete.png" (click)="deleteMenuItems(menuItem.Id, template)" height="32"
                                     width="32" />
                            </span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...
            </div>
            <div *ngIf='menuItems && menuItems.length == 0' class="alert alert-info" role="alert">No record found!</div>
        </div>
    </div>
    
    <!-- <div class='panel panel-primary'>
        <div class='panel-heading'>
            Items
        </div>
        <div class='panel-body'>
            
            
            <div class='table-responsive'>

                <div class="col-md-5"> <div style="padding-bottom:10px"><img src="../../../../assets/images/Add.png" (click)="addMenuItems()" height="60" width="60" /></div></div>
                <div class="col-md-1"> Search: </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="MenuItemName" placeholder="Search by Name">
                </div>
                <div class="alert alert-info" role="alert" *ngIf="indLoading">
                    <img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...
                </div>
                <div *ngIf='menuItems && menuItems.length==0' class="alert alert-info" role="alert">No record found!</div>
                <table class='table table-striped' *ngIf='menuItems && menuItems.length'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let menuItem of menuItems | FilterMenuItemName: MenuItemName">
                            <td>{{menuItem.Name}}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" (click)="editMenuItems(menuItem.Id, template)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button class="btn btn-danger btn-sm ml-2" (click)="deleteMenuItems(menuItem.Id, template)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf='menuItems && menuItems.length>=10' style="padding-bottom:10px"><img src="../../../../assets/images/Add.png (click)="addMenuItems()" height="60" width="60" />  </div>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div> -->
</div>