<div class='panel panel-primary'>
    <div class='panel-heading'>
         <h2> RESERVATION CUSTOMERS</h2>
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <div class="row">
                    <div class="col-md-3">
                        <img src="../../../../assets/images/Add.png" (click)="openModal(template)" height="60" width="60" />
                    </div>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-2 pull-right">
                        <button class="btn btn-primary pull-left btndesign" (click)="exportTableToExcel('tblReservationCustomer')"> Export</button>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert" *ngIf="isLoading">
                            <img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...
                        </div>
                        <div *ngIf='customers && customers.length==0' class="alert alert-info" role="alert">No record found!</div>
                    </div>
                </div>
                <table border="1" style="color:#000;border:none;"  *ngIf='customers && customers.length' id="tblReservationCustomer">
                    <thead class="text-center">
                        <tr>
                            <th colspan="6" class="headfirst">
                                <strong>{{ company?.NameEnglish }}</strong>
                                <br /> Reservation Customers List
                            </th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Member Id</th>
                            <th>MemberSince</th>
                            <th>Country</th>
                            <th>Mobile Number</th>
                            <th class="export-no-display">Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor="let customer of customers">
                            <td>{{customer.CustomerName}}</td>
                            <td>{{customer.MemberId}}</td>
                            <td>{{customer.MemberSince | date: 'dd/MM/yyyy'}}</td>
                            <td>{{customer.Country}}</td>
                            <td>{{customer.MobileNumber}}</td>
                            <td class="export-no-display">
                                <span class="firstimg">
                                    <img src="../../../../assets/images/Edit.png" (click)="editDepartment(customer.Id,template)" height="32" width="32" />
                                </span>
                                <span>
                                    <img src="../../../../assets/images/Delete.png" (click)="deleteDepartment(customer.Id,template)" height="32" width="32" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                </div>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(customerForm)" [formGroup]="customerForm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <i class="fa fa-times fa-design"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-6">
                        <label class="control-label">Title:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-user"></i>&nbsp;
                                </strong>
                            </span>
                            <select class="form-control" formControlName="Title" setAutoFocus tabindex="1">
                                <option value="">--- Choose Title ---</option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Miss.">Miss.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Er.">Er.</option>
                                <option value="M/s">M/s</option>
                            </select>
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('Title').hasError('required') && formSubmitAttempt">
                            Title field is required
                        </div>
                </div>
                <div class="form-group col-md-6">
                        <label class="control-label">First / Company Name:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-user"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="text" class="form-control" placeholder="First / Company Name" formControlName="FirstName" tabindex="2">
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('FirstName').hasError('required') && formSubmitAttempt">
                            First Name field is required
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                        <label class="control-label">Middle Name:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-user"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="text" class="form-control" placeholder="Middle Name" formControlName="MiddleName" tabindex="3">
                            <div class="alert alert-danger" *ngIf="customerForm.get('MiddleName').hasError('required') && formSubmitAttempt">
                                Middle Name field is required
                            </div>
                        </div>
                </div>
                <div class="form-group col-md-6">
                        <label class="control-label">Last Name:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-user"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName" tabindex="4">
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('LastName').hasError('required') && formSubmitAttempt">
                            Last Name field is required
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                        <label class="control-label">Email:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-envelope"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="email" class="form-control" placeholder="Email Address" formControlName="Email" tabindex="5">
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="(customerForm.get('Email').hasError('Invalidemail') || customerForm.get('Email').hasError('required')) && formSubmitAttempt">
                            Email field must be in abcd@ab.com format.
                        </div>
                </div>
                <div class="col-md-6">
                        <label class="control-label">Mobile Number:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-phone"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="number" class="form-control" placeholder="Member Mobile Number" formControlName="MobileNumber" tabindex="6">
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('MobileNumber').hasError('required') && formSubmitAttempt">
                            Mobile Number field is required
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                        <label class="control-label">Country:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-flag"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="text" class="form-control" placeholder="Member Country" formControlName="Country" tabindex="7">
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('Country').hasError('required') && formSubmitAttempt">
                            Country field is required
                        </div>
                </div>
                <div class="form-group col-md-6">
                        <label class="control-label">Member Since:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-calendar"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="text" class="form-control" placeholder="day/month/year" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" formControlName="MemberSince" tabindex="8" />
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('MemberSince').hasError('required') && formSubmitAttempt">
                            Member Since field is required
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
        
                        <label class="control-label">Member Id:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-id-card"></i>&nbsp;
                                </strong>
                            </span>
                            <input type="number" class="form-control" placeholder="" formControlName="MemberId" tabindex="9">
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('MemberId').hasError('required') && formSubmitAttempt">
                            Member Id field is required
                        </div>
            
                </div>

                <div class="form-group col-md-6">
                        <label class="control-label">Customer Type:</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <strong>
                                    <i class="fa fa-user"></i>&nbsp;
                                </strong>
                            </span>
                            <select class="form-control" formControlName="CustomerTypeId" tabindex="10">
                                <option class="form-control" *ngFor="let CType of customerTypes" [ngValue]="CType.Id">{{CType.Name}}</option>
                            </select>
                        </div>
                        <div class="alert alert-danger col-md-9" *ngIf="customerForm.get('CustomerTypeId').hasError('required') && formSubmitAttempt">
                            Customer Type field is required
                        </div>
                </div>
            </div>
            <div class="row footermodal">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success pull-left" tabindex="19">{{modalBtnTitle}}</button>

                </div>
                <div class="col-md-8">

                </div>
                <div class="col-md-2">
                    <a class="btn btn-danger pull-right" (click)="modalRef.hide()" tabindex="20">Cancel</a>

                </div>
            </div>
        </div>
      
    </form>
</ng-template>