
    <form class="panel-primary" novalidate>
        <div class="modal-header panel-heading" style="background-color: #364a70;">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
        </div>

        <div class="card mt-4">
            <div class="row">
               
                <div class="col-sm-6 ml-auto mr-auto" style="margin: inherit;">
                    <span> Merge Ticket from:  </span>
                    <ngx-select-dropdown
                        (change)="secondaryChanged($event)"
                        [multiple]="false"
                        [config]="config"
                        [options]="secondaryOrderList">
                    </ngx-select-dropdown>
                </div>  

                <div class="col-sm-6 ml-auto mr-auto" style="margin: inherit;">
                    <span> Merge To Ticket:  </span>
                    <ngx-select-dropdown
                        (change)="primaryChanged($event)"
                        [multiple]="false"
                        [config]="config"
                        [options]="primaryOrderList">
                    </ngx-select-dropdown>
                </div>   


                
            </div>

            <div class="row mt-4">
                <div class="col-11">

                </div>
                <div  class="col-1">
                    <button type="button" (click)="merge()" style="float: right;"  class="btn btn-success">Merge </button>

                </div>
            </div>


            <div class="row mt-5">
              <h6  class="font-weight-bold ml-3">  All unsettled tickets  </h6> 
            </div>
            <div *ngFor="let order of primaryOrderList" class=" ml-3 mt-4 row text-center">
                <a style="background-color: #364a70;color:white"> {{order.Name}}  {{order.TicketId}}</a>

            </div>


        </div>


        <!-- <div class="modal-footer">
            <button type="submit" [disabled]="MenuConsumptionForm.invalid" class="btn btn-success pull-left">{{modalBtnTitle}}</button>
            <button type="reset" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div> -->
    </form>






