<!-- <accountdashboard-app></accountdashboard-app> -->
<!-- <div class='panel panel-primary'>
    <div class="panel-heading">
        Group Ledger
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <div class="row">
                    <div class="col-md-3">
                        <div (click)="addAccType()" style="cursor: pointer">
                            <span>
                                <img src="../../images/Add.png" height="60" width="60" />
                            </span>
                            Add Group Ledger
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row" style="padding-top: 17px;">
                            <div class="col-md-2 pull-right">
                                <button *ngIf='accountTypes && accountTypes.length' class="btn btn-primary pull-left" (click)="exportTableToExcel('GroupLedgerTable')"> Export</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../images/loading.gif" width="32" height="32" /> Loading...
            </div>
            <div *ngIf='accountTypes && accountTypes.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table id="GroupLedgerTable" class='table table-striped' *ngIf='accountTypes && accountTypes.length'>
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>UnderGroup Ledger</th>
                        <th>Nature Of Group</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let accountType of accountTypes">
                        <td>{{accountType.Name}}</td>
                        <td>{{accountType.UnderGroupLedger}}</td>
                        <td>{{accountType.NatureofGroup}}</td>
                        <td class="export-no-display">
                            <span>
                                <img src="../../images/Edit.png" (click)="editAccType(accountType.Id)" height="32" width="32" />
                            </span>
                            <span>
                                <img src="../../images/Delete.png" (click)="deleteAccType(accountType.Id)" height="32" width="32" />
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div> -->


<div class="container" style="padding-top: 20px;">
    <div class="row m-0 mt-3">
        <div class="col-md-4">
            <h2 class="header">Group Ledger</h2>
        </div>
        <div class="col-md-4">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Search by Name"
                (keyup)="searchItem()" 
                [(ngModel)]="searchKeyword">
        </div>
        <div class="col-md-2">
            <button *ngIf='accountTypes && accountTypes.length' class="btn btn-primary pull-left" (click)="exportTableToExcel('GroupLedgerTable')">Export</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="addAccType()" style="float: right">
                <strong>
                    <i class="fa fa-plus"></i>
                    Add
                </strong>
            </button>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-sm-12 table-responsive">
            <div class="alert alert-info" role="alert" *ngIf="indLoading">
                <img src="../../../../assets/images/loading.gif" width="32" height="32" /> Loading...
            </div>
            <table id="GroupLedgerTable" class='table table-bordered' *ngIf='accountTypes && accountTypes.length'>
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>UnderGroup Ledger</th>
                        <th>Nature Of Group</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let accountType of accountTypes">
                        <td>{{accountType.Name}}</td>
                        <td>{{accountType.UnderGroupLedger}}</td>
                        <td>{{accountType.NatureofGroup}}</td>
                        <td class="export-no-display">
                            <button class="btn btn-primary btn-sm" (click)="editAccType(accountType.Id)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm ml-2" (click)="deleteAccType(accountType.Id)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <!-- <span>
                                <img src="../../images/Edit.png" (click)="editAccType(accountType.Id)" height="32" width="32" />
                            </span>
                            <span>
                                <img src="../../images/Delete.png" (click)="deleteAccType(accountType.Id)" height="32" width="32" />
                            </span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #template>
    <form novalidate (ngSubmit)="onSubmit(accTypeFrm)" [formGroup]="accTypeFrm">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Group Name</label>
                            <input type="text" class="form-control" placeholder="GroupName" formControlName="Name">
                            <div class="alert alert-danger" *ngIf="accTypeFrm.get('Name').hasError('required') && formSubmitAttempt">
                                Group Name is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Under GroupLedger</label>
                            <select class="form-control" placeholder="UnderGroupLedger" formControlName="UnderGroupLedger">
                                <option value="0"></option>
                                <option *ngFor="let accountTypes of accountTypes" value={{accountTypes.Id}}>{{accountTypes.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Nature of Group</label>
                            <select class="form-control" placeholder="NatureofGroup" formControlName="NatureofGroup">
                                <option>Assets</option>
                                <option>Liabilities</option>
                                <option>Income</option>
                                <option>Expenses</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Default Filter Type: </label>
                            <select class="form-control" placeholder="DefaultFilterType" formControlName="DefaultFilterType">
                                <option value="0"></option>
                                <option value="1">Debit</option>
                                <option value="2">Credit</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">WorkingRule: </label>
                            <select class="form-control" placeholder="WorkingRule" formControlName="WorkingRule">
                                <option value="0"></option>
                                <option value="1">Debit</option>
                                <option value="2">Credit</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="from-group">
                            <label class="control-label">Sort Order: </label>
                            <select class="form-control" placeholder="SortOrder" formControlName="SortOrder">
                                <option value="0"></option>
                                <option value="1">Debit</option>
                                <option value="2">Credit</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <div class="row form-verticle">
                    <div class="col-md-12">
                        <div class="form-group col-md-4">
                            <label class="control-label col-md-12">Group Name:</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="GroupName" formControlName="Name">
                            </div>
                            <div class="alert alert-danger" *ngIf="accTypeFrm.get('Name').hasError('required') && formSubmitAttempt">
                                Group Name is required
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-md-12">Under GroupLedger</label>
                            <div class="col-md-12">
                                <select class="form-control" placeholder="UnderGroupLedger" formControlName="UnderGroupLedger">
                                    <option value="0"></option>
                                    <option *ngFor="let accountTypes of accountTypes" value={{accountTypes.Id}}>{{accountTypes.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label col-md-12">Nature of Group</label>
                            <div class="col-md-12">
                                <select class="form-control" placeholder="NatureofGroup" formControlName="NatureofGroup">
                                    <option>Assets</option>
                                    <option>Liabilities</option>
                                    <option>Income</option>
                                    <option>Expenses</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="row form-verticle">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-12">Default Filter Type: </label>
                                <div class="col-md-12">
                                    <select class="form-control" placeholder="DefaultFilterType" formControlName="DefaultFilterType">
                                        <option value="0"></option>
                                        <option value="1">Debit</option>
                                        <option value="2">Credit</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-md-12">WorkingRule: </label>
                                <div class="col-md-12">
                                    <select class="form-control" placeholder="WorkingRule" formControlName="WorkingRule">
                                        <option value="0"></option>
                                        <option value="1">Debit</option>
                                        <option value="2">Credit</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="from-group">
                                <label class="control-label col-md-12">Sort Order: </label>
                                <div class="col-md-12">
                                    <select class="form-control" placeholder="SortOrder" formControlName="SortOrder">
                                        <option value="0"></option>
                                        <option value="1">Debit</option>
                                        <option value="2">Credit</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="ISBILLWISEON" id="ISBILLWISEON" ng-model="grpLedgerFrm.ISBILLWISEON" formControlName="ISBILLWISEON">
                            <label class="form-check-label" for="ISBILLWISEON">
                                Is BillwiseOn
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="ISREVENUE" id="ISREVENUE" ng-model="grpLedgerFrm.ISREVENUE" formControlName="ISREVENUE">
                            <label class="form-check-label" for="ISREVENUE">
                                Is Revenue
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="ISADDABLE" id="ISADDABLE" ng-model="grpLedgerFrm.ISADDABLE" formControlName="ISADDABLE">
                            <label class="form-check-label" for="ISADDABLE">
                                Is Addable
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="ISCONDENSED" id="ISCONDENSED" ng-model="grpLedgerFrm.ISCONDENSED" formControlName="ISCONDENSED">
                            <label class="form-check-label" for="ISCONDENSED">
                                Is Condensed
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="AFFECTSSTOCK" id="AFFECTSSTOCK" ng-model="grpLedgerFrm.AFFECTSSTOCK" formControlName="AFFECTSSTOCK">
                            <label class="form-check-label" for="AFFECTSSTOCK">
                                AffectsStock
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="SORTPOSITION" id="SORTPOSITION" ng-model="grpLedgerFrm.SORTPOSITION" formControlName="SORTPOSITION">
                            <label class="form-check-label" for="SORTPOSITION">
                                SortPosition
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="DebitCreditBalanceReporting" id="DebitCreditBalanceReporting" ng-model="grpLedgerFrm.DebitCreditBalanceReporting" formControlName="DebitCreditBalanceReporting">
                            <label class="form-check-label" for="DebitCreditBalanceReporting">
                                DebitCredit BalanceReporting
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="UsedforCalculation" id="UsedforCalculation" ng-model="grpLedgerFrm.UsedforCalculation" formControlName="UsedforCalculation">
                            <label class="form-check-label" for="UsedforCalculation">
                                Used for Calculation
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="GroupSubLedger" id="GroupSubLedger" ng-model="grpLedgerFrm.GroupSubLedger" formControlName="GroupSubLedger">
                            <label class="form-check-label" for="GroupSubLedger">
                                Group Sub Ledger
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="PurchaseInvoiceAllocation" id="PurchaseInvoiceAllocation" ng-model="grpLedgerFrm.PurchaseInvoiceAllocation" formControlName="PurchaseInvoiceAllocation">
                            <label class="form-check-label" for="PurchaseInvoiceAllocation">
                                Purchase InvoiceAllocation
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="ISCOSTCENTRESON" id="ISCOSTCENTRESON" ng-model="grpLedgerFrm.ISCOSTCENTRESON" formControlName="ISCOSTCENTRESON">
                            <label class="form-check-label" for="ISCOSTCENTRESON">
                                Is Cost Centre On
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="ISDEEMEDPOSITIVE" id="ISDEEMEDPOSITIVE" ng-model="grpLedgerFrm.ISDEEMEDPOSITIVE" formControlName="ISDEEMEDPOSITIVE">
                            <label class="form-check-label" for="ISDEEMEDPOSITIVE">
                                Is Demmed Positive
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="AFFECTSGROSSPROFIT" id="AFFECTSGROSSPROFIT" ng-model="grpLedgerFrm.AFFECTSGROSSPROFIT" formControlName="AFFECTSGROSSPROFIT">
                            <label class="form-check-label" for="AFFECTSGROSSPROFIT">
                                Affects GrossProfit
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="TRACKNEGATIVEBALANCES" id="TRACKNEGATIVEBALANCES" ng-model="grpLedgerFrm.TRACKNEGATIVEBALANCES" formControlName="TRACKNEGATIVEBALANCES">
                            <label class="form-check-label" for="TRACKNEGATIVEBALANCES">
                                Track Negative Balances
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="row form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Is BillwiseOn
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="ISBILLWISEON" ng-model="grpLedgerFrm.ISBILLWISEON" class="form-control" formControlName="ISBILLWISEON">
                        </div>
                        <label class="control-label col-md-3">
                            Is Revenue
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="ISREVENUE" ng-model="grpLedgerFrm.ISREVENUE" class="form-control" formControlName="ISREVENUE">
                        </div>
                        <label class="control-label col-md-3">
                            Is Addable
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="ISADDABLE" ng-model="grpLedgerFrm.ISADDABLE" class="form-control" formControlName="ISADDABLE">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Is Condensed
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="ISCONDENSED" ng-model="grpLedgerFrm.ISCONDENSED" class="form-control" formControlName="ISCONDENSED">
                        </div>
                        <label class="control-label col-md-3">
                            AffectsStock
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="AFFECTSSTOCK" ng-model="grpLedgerFrm.AFFECTSSTOCK" class="form-control" formControlName="AFFECTSSTOCK">
                        </div>
                        <label class="control-label col-md-3">
                            SortPosition
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="SORTPOSITION" ng-model="grpLedgerFrm.SORTPOSITION" class="form-control" formControlName="SORTPOSITION">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            DebitCredit BalanceReporting
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="DebitCreditBalanceReporting" ng-model="grpLedgerFrm.DebitCreditBalanceReporting" class="form-control"
                                   formControlName="DebitCreditBalanceReporting" />
                        </div>
                        <label class="control-label col-md-3">
                            Used for Calculation
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="UsedforCalculation" ng-model="grpLedgerFrm.UsedforCalculation" class="form-control" formControlName="UsedforCalculation" />
                        </div>
                        <label class="control-label col-md-3">
                            Group Sub Ledger
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="GroupSubLedger" ng-model="grpLedgerFrm.GroupSubLedger" class="form-control" formControlName="GroupSubLedger">
                        </div>

                        <label class="control-label col-md-3">
                            Purchase InvoiceAllocation
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="PurchaseInvoiceAllocation" ng-model="grpLedgerFrm.PurchaseInvoiceAllocation" class="form-control"
                                   formControlName="PurchaseInvoiceAllocation">
                        </div>
                        <label class="control-label col-md-3">
                            Is Cost Centre On
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="ISCOSTCENTRESON" ng-model="grpLedgerFrm.ISCOSTCENTRESON" class="form-control" formControlName="ISCOSTCENTRESON">
                        </div>

                        <label class="control-label col-md-3">
                            Is Demmed Positive
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="ISDEEMEDPOSITIVE" ng-model="grpLedgerFrm.ISDEEMEDPOSITIVE" class="form-control" formControlName="ISDEEMEDPOSITIVE">
                        </div>
                        <label class="control-label col-md-3">
                            Affects GrossProfit
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="AFFECTSGROSSPROFIT" ng-model="grpLedgerFrm.AFFECTSGROSSPROFIT" class="form-control" formControlName="AFFECTSGROSSPROFIT">
                        </div>
                        <label class="control-label col-md-3">
                            Track Negative Balances
                        </label>
                        <div class="col-md-1">
                            <input type="checkbox" name="TRACKNEGATIVEBALANCES" ng-model="grpLedgerFrm.TRACKNEGATIVEBALANCES" class="form-control" formControlName="TRACKNEGATIVEBALANCES">
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-danger pull-right ml-2" (click)="reset(); modalRef.hide();">Cancel</button>
                <button type="submit" [disabled]="accTypeFrm.invalid" class="btn btn-success pull-left"> {{modalBtnTitle}}</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #templateNested>
    <div class="modal-body text-center">
        <p>Data saved sucessfully!</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Ok</button>
    </div>
</ng-template>