<reservationdashboard-app></reservationdashboard-app>
<div class='panel panel-primary'>
    <div class='panel-heading'>
        Check Out
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <div class="row" style="padding-bottom:10px">
                    <div class="col-md-6">
                        <div class="col-sm-6 text-right">
                            Filter By Date:
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker [(ngModel)]="fromDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" />
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-success" (click)="getDataDateFilter()"> GO</button>
                        </div>
                    </div>
                    <div class="col-md-6 text-right">
                        <button (click)="getData('today')" class="btn btn-success">
                            <i class="fa fa-clock"></i> Today
                        </button>
                        <button (click)="getData('all')" class="btn btn-info">
                            <i class="fa fa-clock"></i> Old
                        </button>
                        <button class="btn btn-primary pull-left" (click)="exportTableToExcel('tblReservationCheckOutDate')"> Export</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert" *ngIf="isLoading">
                            <img src="../../images/loading.gif" width="32" height="32" /> Loading...
                        </div>
                        <div *ngIf='reservedRooms && reservedRooms.length==0' class="alert alert-info" role="alert">No record found!</div>
                    </div>
                </div>
                <table class='table table-striped' *ngIf='reservedRooms && reservedRooms.length' id="tblReservationCheckOutDate">
                    <thead>
                        <tr>
                            <th colspan="10" class="text-center">
                                <strong>{{ company?.NameEnglish }}</strong>
                                <br /> Reservation Check Out Status
                            </th>
                        </tr>
                        <tr>
                            <th>Customer</th>
                            <th>Guest</th>
                            <th>Adult</th>
                            <th>Children</th>
                            <th>No. of Rooms</th>
                            <th>Room Type</th>
                            <th class="export-no-display">Attachment</th>
                            <th>Check In Date</th>
                            <th>Check Out Date</th>
                            <th class="export-no-display">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rm of reservedRooms">
                            <td>{{getCustomerFromReservation(rm)?.CustomerName}} &nbsp; ({{rm.ReservationId}})</td>
                            <td>{{rm.GuestName}}</td>
                            <td>{{rm.Adult}}</td>
                            <td>{{rm.Children}}</td>
                            <td>{{rm.NumberofRoom}}</td>
                            <td>{{getRoomType(rm.RoomTypeId)?.Name}}</td>
                            <td class="export-no-display">
                                <img *ngIf="rm.File" (click)="viewFile(rm.File,imageView)" [src]="rm.File" alt="Reserver Document" style="height:30px; border-radius:5px;"
                                />
                                <span *ngIf="rm.File == ''">Not Added</span>
                            </td>
                            <td>{{rm.ToCheckInDate | date: 'dd/MM/yyyy h:mm a'}}</td>
                            <td>{{rm.ToCheckOutDate | date: 'dd/MM/yyyy h:mm a'}}</td>
                            <td class="export-no-display">
                                <span>
                                    <img src="../../images/Edit.png" (click)="editReservedRoom(rm.Id,template)" height="32" width="32" />
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div>
</div>

<ng-template #imageView>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{modalTitle}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <img style="width:100%" [src]="fileUrl" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template #template>
    <form class="panel-primary" novalidate [formGroup]="reservedRoomForm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">Check Out</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="background-color:#fafafa;">
            <div class="panel-body" style="background-color:#fafafa;">
                <div class="panel panel-defaut" style="background-color:#fafafa;">
                    <div class="tab-v1">
                        <ul class="nav nav-tabs" style="background-color:#fafafa;">
                            <li class="active">
                                <a href="#reserve" data-toggle="tab">Reservation</a>
                            </li>
                            <li>
                                <a href="#guest" data-toggle="tab">Guest Information</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="reserve" style="background-color:#fafafa;">
                                <div class="row">
                                    <div class="form-group col-sm-8">
                                        <label class="control-label col-sm-2">Customer:</label>
                                        <div class="col-sm-10">
                                            <select class="col-sm-12 form-control" style="max-width:100%" formControlName="ReservationId" (change)="fillForm($event)" setAutoFocus tabindex="1">
                                                <option value="" selected>--- Choose Customer ---</option>
                                                <option class="form-control" *ngFor="let CType of reservations" [ngValue]="CType.Id">{{getCustomer(CType.CustomerId).CustomerName}}(Res. No: {{CType.Id}})</option>
                                            </select>
                                            <div class="alert alert-danger" style="background-color:black" *ngIf="reservedRoomForm.get('ReservationId').hasError('required') && formSubmitAttempt">
                                                Reservation Id field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label class="control-label col-sm-4">Plan:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="Guest Plan" formControlName="Plan" tabindex="1">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Plan').hasError('required') && formSubmitAttempt">
                                                Guest Plan field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Arrival Date:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <angular2-date-picker formControlName="ToCheckInDate" [settings]="settings" tabindex="2"></angular2-date-picker>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('ToCheckInDate').hasError('required') && formSubmitAttempt">
                                                Check In Date field is required.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Departure Date:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <angular2-date-picker formControlName="ToCheckOutDate" [settings]="settings" tabindex="3"></angular2-date-picker>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('ToCheckOutDate').hasError('required') && formSubmitAttempt">
                                                Check Out Date field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">No. of Person:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="number" class="form-control" placeholder="Number of Adult guests." formControlName="Adult" tabindex="4">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Adult').hasError('required') && formSubmitAttempt">
                                                Adult field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Children:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="number" class="form-control" placeholder="Number of Childern" formControlName="Children" tabindex="5">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Children').hasError('required') && formSubmitAttempt">
                                                Children field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">No. of Room:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="number" class="form-control" placeholder="Number of rooms" formControlName="NumberofRoom" tabindex="6">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('NumberofRoom').hasError('required') && formSubmitAttempt">
                                                Number of Room field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Room Type:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <select class="col-sm-3 form-control" formControlName="RoomTypeId" tabindex="7">
                                                <option value="" selected>--- Choose Room Type ---</option>
                                                <option class="form-control" *ngFor="let CType of roomTypes" [ngValue]="CType.Id">{{CType.Name}}</option>
                                            </select>
                                            <br />
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('RoomTypeId').hasError('required') && formSubmitAttempt">
                                                Room Type field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Identity:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <app-file-upload #fileUpload [extraFormData]="reservedRoomForm" [uploadUrl]="uploadUrl" [dropMessage]="dropMessage" tabindex="8"></app-file-upload>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="reservedRoom?.File && reservedRoom.File !== ''">
                                                <div class="col-md-6">
                                                    <img (click)="viewFile(rm.File,imageView)" [src]="reservedRoom.File" style="height:32px;border-radius:5px;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">G.R. No.:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="number" class="form-control" placeholder="G.R. No." formControlName="GRC" tabindex="6">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('GRC').hasError('required') && formSubmitAttempt">
                                                Guest Record No. field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Rate (Rs.):</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="number" class="form-control" placeholder="Rate (Rs.)" formControlName="Rate" tabindex="6">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Rate').hasError('required') && formSubmitAttempt">
                                                Rate field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Advance (Rs.):</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="number" class="form-control" placeholder="Advance (Rs.)" formControlName="AdvanceAmount" tabindex="6">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('AdvanceAmount').hasError('required') && formSubmitAttempt">
                                                Advance field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="reservedRoomForm.controls.listRoomOccupiedDetail.controls.length">
                                    <div formArrayName="listRoomOccupiedDetail" class="panel panel-default">
                                        <div class="col-sm-12" *ngFor="let occupancyD of reservedRoomForm.controls.listRoomOccupiedDetail.controls; let i=index" [formGroupName]="i" style="margin-bottom:10px;">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <input type="hidden" formControlName="Id" />
                                                    <input type="hidden" formControlName="RoomOccupiedId" />
                                                    <input type="hidden" formControlName="ReservationId" />
                                                    <label class="control-label col-sm-3" align="right">Room:</label>
                                                    <select class="col-md-6 form-control" formControlName="RoomId" tabindex="3">
                                                        <option class="form-control" *ngFor="let room of rooms" [ngValue]="room.Id">Room {{room.RoomNumber}}</option>
                                                    </select>
                                                    <div class="alert alert-danger" *ngIf="occupancyD.get('RoomId').hasError('required') && formSubmitAttempt">
                                                        Room field is required
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="control-label col-sm-3" align="right">No.Guest:</label>
                                                    <input type="text" class="col-md-6 form-control" placeholder="No.Guest" formControlName="PAX" tabindex="10">
                                                    <div class="alert alert-danger" *ngIf="occupancyD.get('PAX').hasError('required') && formSubmitAttempt">
                                                        Guest Name field is required
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="control-label col-sm-3" align="right">Guest:</label>
                                                    <input type="text" class="col-md-6 form-control" placeholder="Guest Name" formControlName="GuestName">
                                                    <div class="alert alert-danger" *ngIf="occupancyD.get('GuestName').hasError('required') && formSubmitAttempt">
                                                        Guest Name field is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade in" id="guest" style="background-color:#fafafa;">
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-2">Full Name:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" style="max-width:100%" placeholder="Guest Full Name" formControlName="GuestName" tabindex="9">
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('GuestName').hasError('required') && formSubmitAttempt">
                                                Guest Name field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <label class="control-label col-sm-2">Address:</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" placeholder="Address" style="max-width:100%" formControlName="Address" tabindex="10"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Address').hasError('required') && formSubmitAttempt">
                                                Address field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4" for="country">Nationality:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" [(ngModel)]=filterKey (keyup)=filter() formControlName="Country" tabindex="11"/>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Country').hasError('required') && formSubmitAttempt">
                                            Address field is required
                                        </div>
                                        <!--<div class="alert alert-danger" *ngIf="filteredItems.length > 0">

                                                <div>
                                                    <a (click)="select(item)">{{item}}</a>
                                                </div>

                                        </div>-->
                                        <!--<label class="control-label col-sm-4">Nationality:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <select class="col-sm-3 form-control" formControlName="RoomTypeId" tabindex="11">
                                                <option value="" selected>--- Choose Room Type ---</option>
                                                <option class="form-control" *ngFor="let CType of roomTypes" [ngValue]="CType.Id">{{CType.Name}}</option>
                                            </select>
                                            <br />
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('RoomTypeId').hasError('required') && formSubmitAttempt">
                                                Nationality field is required
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">ID/Passport No:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="Id_Passport_No" tabindex="12"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Id_Passport_No').hasError('required') && formSubmitAttempt">
                                                passport field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Date of Issue:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker formControlName="DateofIssue" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" tabindex="13" />
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('DateofIssue').hasError('required') && formSubmitAttempt">
                                                Date of Issue field is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Visa No:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="VisaNo" tabindex="14"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('VisaNo').hasError('required') && formSubmitAttempt">
                                                visa no. field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Place Issued:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="PlaceIssued" tabindex="15"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('PlaceIssued').hasError('required') && formSubmitAttempt">
                                                Place of Issued field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Date of Birth:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input class="form-control" placeholder="dd/MM/yyyy" bsDatepicker formControlName="DateofBirth" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" tabindex="16"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('DateofBirth').hasError('required') && formSubmitAttempt">
                                                Date of birth field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Occupation:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="Occupation" tabindex="17"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Occupation').hasError('required') && formSubmitAttempt">
                                                occupation field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Organization:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="Organization" tabindex="18"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('Organization').hasError('required') && formSubmitAttempt">
                                                Organization field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Purpose of Visit:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="PurposeofVisit" tabindex="19"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('PurposeofVisit').hasError('required') && formSubmitAttempt">
                                                Purpose of visit field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Next Visit:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="NextVisit" tabindex="20"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('NextVisit').hasError('required') && formSubmitAttempt">
                                                Forward Address field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Vehicle No:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="VehicleNo" tabindex="21"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('VehicleNo').hasError('required') && formSubmitAttempt">
                                                Vehicle number  field is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label col-sm-4">Mobile No:</label>
                                        <div class="col-sm-8" style="margin: inherit;">
                                            <input type="text" class="form-control" placeholder="" formControlName="MobileNo" tabindex="22"/>
                                            <div class="alert alert-danger" *ngIf="reservedRoomForm.get('MobileNo').hasError('required') && formSubmitAttempt">
                                                Mobile No. field is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="background-color:#fafafa;">
                    <div>
                        <button type="button" class="btn btn-success btn1 pull-left" (click)="onSubmit(reservedRoomForm, fileUpload)" tabindex="24">{{modalBtnTitle}}</button>
                        <button type="button" class="btn btn-danger pull-right" (click)="modalRef.hide()" tabindex="25">Cancel</button>
                    </div>
                </div>
                <style>
                    .btn1 {
                        margin-left: 42%;
                        width: 80px;
                    }

                    .btn-danger {
                        margin-right: 37%;
                    }
                </style>

            </div>
        </div>
    </form>
</ng-template>