<div id="calculator">
    <form class="calc">
        <p class="calc-display">
            <input type="text" name="output" id="res" value="{{output}}" (ngModelChange)="updateOutput($event, true)" [(ngModel)]="output" class="calc-display-input">
            <button type="button" class="calc-button" (click)="output = '1'">C</button>
        </p>
        <p class="calc-row">
            <button type="button" class="calc-button" (click)="updateOutput(n)" *ngFor="let n of [0,1,2,3,4,5,6,7,8,9]">{{n}}</button>
            <button type="button" class="calc-button" (click)="updateOutput('.')">.</button>
            <button type="button" class="calc-button calc-button-big" (click)='updateOutput("*")'>x</button>
        </p>
    </form>
</div>