<div class="container" style="padding-top: 20px;">
    <div class="row mt-3">
        <div class="col-sm-1">
            <button type="button" class="btn btn-primary" (click)="back()">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="col-md-12">
            <h2 class="header">{{modalTitle}}</h2>
        </div>
    </div>

    <div class="alert alert-info" role="alert" *ngIf="indLoading">
        <img src="../../assets/images/loading.gif" width="32" height="32" /> Loading...
    </div>
    <form novalidate (ngSubmit)="onSubmit(journalFrm, fileUpload)" [formGroup]="journalFrm">
        <div class="hidden">
            <input type="number" class="hidden" formControlName="Id" />
            <input type="text" class="hidden" formControlName="Amount" />
            <input type="number" class="hidden" formControlName="FinancialYear" />
            <input type="text" class="hidden" formControlName="UserName" />
            <input type="number" class="hidden" formControlName="CompanyCode" />
            <input type="text" class="hidden" placeholder="Voucher No" formControlName="AccountTransactionDocumentId" />
        </div>
        <div class="row">
            <label class="control-label col-md-2">
                <strong>Voucher Type</strong>
            </label>
            <div class="form-group col-md-3">
                <input type="text" class="form-control" formControlName="Name" readonly="true">
                <div class="text-danger" *ngIf="journalFrm.get('Name'). hasError('required') && formSubmitAttempt">
                    <strong>Voucher Type is required</strong>
                </div>
            </div>
            <label class="control-label col-md-2">
                <strong>Voucher Date</strong>
            </label>
            <div class="form-group col-md-3">
                <!-- <input class="form-control" type="text" placeholder="yyyy.mm.dd" formControlName="Date" /> -->
                <np-datepicker
                    language="en"
                    class="form-group"
                    inputClass="form-control"
                    [dateFormatter]="voucherDateFormatter"
                    [(ngModel)]="voucherDateNepali"
                    [ngModelOptions]="{standalone: true}">
                </np-datepicker>
                <div class="text-danger" *ngIf="(journalFrm.get('Date').hasError('InvalidDate') || journalFrm.get('Date').hasError('required')) && formSubmitAttempt">
                    {{ journalFrm.get('Date').getError('InvalidDate') }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-12">
                <div formArrayName="AccountTransactionValues" class="panel panel-default container-padding">
                    <br>
                    <div class="row">
                        <div class="col-md-1 custom-padding">
                            <strong>Dr/Cr</strong>
                        </div>
                        <div class="col-md-3 custom-padding">
                            <strong>Account</strong>
                        </div>
                        <div class="col-md-2 custom-padding">
                            <strong>Debit</strong>
                        </div>
                        <div class="col-md-2 custom-padding">
                            <strong>Credit</strong>
                        </div>
                        <div class="col-md-3 custom-padding">
                            <strong>Description</strong>
                        </div>
                        <div class="col-md-1 custom-padding">
                            <strong>&nbsp;</strong>
                        </div>
                    </div>
                    <br>
                    <div *ngFor="let AccountTransactionValues of journalFrm.controls.AccountTransactionValues['controls']; let i=index"
                            [formGroupName]="i">
                        <div class="row mt-2">
                            <div class="col-md-1 custom-padding">
                                <select class="form-control" formControlName="entityLists" (change)="enableDisable(journalFrm.controls.AccountTransactionValues.controls[i].controls)">
                                    <option *ngFor="let entityList of entityLists" [ngValue]="entityList.name">{{ entityList.name }}</option>
                                </select>
                                <div *ngIf="!journalFrm.controls.AccountTransactionValues.controls[i].controls.entityLists.valid && formSubmitAttempt" class="alert alert-danger">
                                    Select Dr/Cr
                                </div>
                            </div>
                            <div class="col-md-3 custom-padding">
                                <ngx-select-dropdown (searchChange)="searchChange($event)" formControlName="AccountId" [config]="config" [options]="account"></ngx-select-dropdown>
                                <!-- <select class="form-control " formControlName="AccountId">
                                    <option *ngFor="let accounts of account" [ngValue]="accounts.Id">{{accounts.Name}}</option>
                                </select> -->
                                <div *ngIf="!journalFrm.controls.AccountTransactionValues.controls[i].controls.AccountId.valid && formSubmitAttempt" class="alert alert-danger">
                                    Select the Particular
                                </div>
                            </div>
                            <div class="col-md-2 custom-padding">
                                <input type="number" class="form-control" placeholder="Debit" formControlName="Debit" />
                            </div>
                            <div class="col-md-2 custom-padding">
                                <input type="number" class="form-control" placeholder="Credit" formControlName="Credit">
                            </div>
                            <div class="col-md-3 custom-padding">
                                <textarea class="form-control" name="Description" formControlName="Description" rows="1" placeholder="Voucher trancacton description here..."></textarea>
                                <div class="help-block alert alert-danger" *ngIf="!journalFrm.controls.AccountTransactionValues.controls[i].controls.Description.valid && formSubmitAttempt">
                                    Transaction description is required.
                                </div>
                            </div>
                            <div class="col-md-1 custom-padding text-center" style="padding-top: 7px !important;">
                                <span 
                                    *ngIf="journalFrm.controls.AccountTransactionValues.controls.length > 1" 
                                    style="cursor: pointer; font-size: 30px" 
                                    class="fa fa-window-close pull-right"
                                    (click)="removeAccount(i)">
                                </span>
                                <!-- <button 
                                    *ngIf="journalFrm.controls.AccountTransactionValues.controls.length > 1" 
                                    type="button"
                                    style="cursor: pointer" 
                                    class="btn btn-danger btn-sm"
                                    (click)="removeAccount(i)">
                                    <i class="fa fa-trash"></i>
                                </button> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="padding:12px">
                            <button type="button" class="btn btn-success pull-right" [disabled]="journalFrm.controls.AccountTransactionValues.invalid" (click)="addAccountValues()">Add Row +</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 textarea-container">
                <textarea class="form-control" name="Description" formControlName="Description" rows="4" placeholder="Add Voucher description here..."></textarea>
                <div class="help-block alert alert-danger" *ngIf="journalFrm.get('Description').hasError('required') && formSubmitAttempt">
                    Voucher description is required.
                </div>
            </div>
            <div class="col-md-4 row">
                <div class="col-md-6 custom-padding">
                    <input type="number" class="form-control" placeholder="Total" value="{{sumDebit()}}" readonly="true" />
                </div>
                <div class="col-md-6 custom-padding">
                    <input type="number" class="form-control" placeholder="Total" value="{{sumCredit()}}" readonly="true" />
                </div>
                <div class="col-md-12 custom-padding">
                    <app-file-upload #fileUpload [extraFormData]="journalFrm" [uploadUrl]="uploadUrl" [dropMessage]="dropMessage"></app-file-upload>
                </div>
            </div>
            <div class="col-md-1">&nbsp;</div>
        </div>

        <div class="modal-footer mb-5">
            <div>
                <button type="submit" class="btn btn-success pull-left" [disabled]="journalFrm.invalid"> {{modalBtnTitle}}</button>
                <button type="button" class="btn btn-danger pull-right ml-2" (click)="cancel()" aria-label="Close">Cancel</button>
            </div>
        </div>
    </form>
</div>