<!-- <div class='panel panel-primary'>
    <div class='panel-heading'>
  WareHouse
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px">
                <img src="../../images/Add.png" (click)="openModal(template)" height="60" width="60" />
                <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
                <div *ngIf='warehouses && warehouses.length==0' class="alert alert-info" role="alert">No record found!</div>
                <table class='table table-striped' *ngIf='warehouses && warehouses.length'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>WareHouseType</th>
                            <th>SortOrder</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let warehouse of warehouses">
                            <td>{{warehouse.Name}}</td>
                            <td>{{warehouse.WarehouseTypeId}}</td>
                            <td>{{warehouse.SortOrder}}</td>
                            <td>
                                <span><img src="../../images/Edit.png" (click)="editWareHouse(warehouse.Id,template)" height="60" width="60" /></span>
                                <span><img src="../../images/Delete.png" (click)="deleteWareHouse(warehouse.Id,template)" height="60" width="60" /></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div>
                </div>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div>
</div> -->

<div class="container" style="padding-top: 20px;">
    <div class="row m-0 mt-3">
        <div class="col-md-4">
            <h2 class="header">WareHouse</h2>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search by Name">
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)="openModal(template)" style="float: right">
                <strong>
                    <i class="fa fa-plus"></i>
                    Add
                </strong>
            </button>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-sm-12 table-responsive">
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../assets/images/loading.gif" width="32" height="32" /> Loading...</div>
            <table class='table table-bordered' *ngIf='warehouses && warehouses.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>WareHouseType</th>
                        <th>SortOrder</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let warehouse of warehouses">
                        <td>{{warehouse.Name}}</td>
                        <td>{{warehouse.WareHouseTypeId}}</td>
                        <td>{{warehouse.SortOrder}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="editWareHouse(warehouse.Id,template)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm ml-2" (click)="deleteWareHouse(warehouse.Id,template)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <!-- <span><img src="../../images/Edit.png" (click)="editWareHouse(warehouse.Id,template)" height="60" width="60" /></span>
                            <span><img src="../../images/Delete.png" (click)="deleteWareHouse(warehouse.Id,template)" height="60" width="60" /></span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf='warehouses && warehouses.length==0' class="alert alert-info" role="alert">No record found!</div>
        </div>
    </div>
</div>
<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(WarehouseFrm)" [formGroup]="WarehouseFrm">
        <div class="modal-header panel-heading">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="Name">
                        <div class="alert alert-danger" *ngIf="WarehouseFrm.get('Name').hasError('required') && formSubmitAttempt">
                            RoomNumber is required
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">WareHouseType</label>
                        <select class="form-control" placeholder="WareHouseType" formControlName="WareHouseTypeId">
                            <option *ngFor="let warehousetypes of warehousetype" [value]="warehousetypes.Id">
                                {{warehousetypes.Name}}
                            </option>
                        </select>
                        <!--<div class="alert alert-danger" *ngIf="WarehouseFrm.get('WareHouseTypeId').hasError('required') && formSubmitAttempt">
                            RoomType is required
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">SortOrder</label>
                        <input type="text" class="form-control" placeholder="SortOrder" formControlName="SortOrder">
                        <div class="alert alert-danger" *ngIf="WarehouseFrm.get('SortOrder').hasError('required') && formSubmitAttempt">
                            RoomPrice is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button type="submit" class="btn btn-success pull-left" [disabled]="WarehouseFrm.invalid">{{modalBtnTitle}}</button>
                <button 
                    type="button"
                    class="btn btn-danger ml-2"
                    (click)="modalRef.hide()">
                    Cancel
                </button>
                <!-- <a class="btn btn-danger pull-right" (click)="modalRef.hide()">Cancel</a> -->
            </div>
        </div>
    </form>
</ng-template>



