<div class="row m-0 mb-5">
    <div class="col-sm-12">
        <h2 class="header mt-3">{{modalTitle}}</h2>
    </div>
</div> 


<div class="row m-0 mt-5">
    <h6  class="font-weight-bold ml-3">  All unsettled tickets  </h6> 
</div>

<div class="row m-0">
    <div class="col-md-8">
        <div class="row">
            <div class="col-sm-12">
                <ngx-select-dropdown
                    (change)="showDetail($event)"
                    [multiple]="false"
                    [config]="config"
                    [options]="tempPrimaryOrderList">
                </ngx-select-dropdown>
            </div>
        </div>

        <div *ngIf="selectedTicket?.Name != null"  class="col-sm-12 card mt-3" style="cursor: pointer;">
            <span class="mt-2" style="width:100%"> 
                {{selectedTicket?.Name}}  {{selectedTicket?.TicketId}}
            </span>

            <div *ngIf="selectedTicket.orders?.length > 0" class="table-responsive mb-3">
                <div *ngFor="let o of selectedTicket.orders">
                    <table class="table">
                        <caption style="caption-side:top">
                            Order No: {{o.OrderNumber}},
                            {{o.UserId}} -
                            {{o.OrderOpeningTime}}
                        </caption>
                        <thead>
                            <tr>
                                <!-- <th>Move This Item</th> -->
                                <th>Change Quantity </th>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of o.OrderItems">
                                <!-- <td><input  [id]="'item'+i" type="checkbox" (change)="moveOrder(item)"> </td> -->
                                <td class="text-center"><input type="number" [(ngModel)]="item.newQty"  min="1" style="width: 50%;"> </td>
                                <td>{{ getProductById(productList,item.ItemId)?.Name }}</td>
                                <td>{{item.Qty}}</td>
                                <td>{{item.UnitPrice}}</td>
                                <td>{{item.TotalAmount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> 

            <div *ngIf="selectedTicket.orders?.length == 0" class="text-center">
                No record found!!
            </div>

            

            
            
        </div>

    </div>
    <div class="col-md-4" style="margin: inherit;">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" (click)="splitOrder()">
                    Split Order
                </button>
            </div>
        </div>
        
    </div> 

</div>

<!-- <div class="row m-0">
    <div class="col-md-10">
        <div class="row m-0">
            <div *ngFor="let order of tempPrimaryOrderList" class="col-md-12 card">
                <div class="card-body" style="cursor: pointer;">
                    <span (click)="showDetail(order);order.show = !order.show" style="width:100%"> 
                        <i 
                            class="fa" 
                            [class.fa-chevron-right]="!order.show"
                            [class.fa-chevron-down]="order.show">
                        </i>
                        {{order.Name}}  {{order.TicketId}}
                    </span>

                    <div *ngIf="order.show && order.Orders.length > 0">
                        <div *ngFor="let o of order.Orders">
                            <table>
                                <caption style="caption-side:top">
                                    Order No: {{o.OrderNumber}},
                                    {{o.UserId}} -
                                    {{o.OrderOpeningTime}}
                                </caption>
                                <thead>
                                    <tr>
                                        <th> Split this order</th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of o.OrderItems">
                                        <td>  <input  [id]="'item'+i" type="checkbox"(change)="moveOrder(item)"> </td>
                                        <td>{{ getProductById(productList,item.ItemId)?.Name }}</td>
                                        <td>{{item.Qty}}</td>
                                        <td>{{item.UnitPrice}}</td>
                                        <td>{{item.TotalAmount}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    
                    <div *ngIf="order.show && order.Orders?.length == 0" class="text-center">
                        No record found!!
                    </div>
                </div>
                
            </div>
            

        </div>
    </div>
    <div class="col-md-2" style="margin: inherit;">
        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn btn-success" (click)="splitOrder()">
                    Split Order
                </button>
            </div>
        </div>
        
    </div> 
    

</div> -->


<!-- <div *ngIf="showOrders" class="row m-0 mb-2">
    <div *ngFor="let item of order.OrderItems;index as i " class="row">
        <table class="table table-borderless">
            <tr>
                <td></td>
            </tr>
        </table>
    </div>

</div> -->






