/* You can add global styles to this file, and also import other style files */

  #preloader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  #loader {
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #9370DB;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
  }
  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #BA55D3;
      -webkit-animation: spin 3s linear infinite;
      animation: spin 3s linear infinite;
  }
  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #FF00FF;
      -webkit-animation: spin 1.5s linear infinite;
      animation: spin 1.5s linear infinite;
  }
  @-webkit-keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  @keyframes spin {
      0%   {
          -webkit-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  /* =========== style css of table ============== */
table{
    background:#fff!important;
    width:100%;
    margin-top:30px;
    border: 1px solid #2874a6!important;
}
table th{
       padding:8px;
       font-size:15px;
       font-weight:bold;
       background-color: #dcdcdc;
       border: 1px solid #2874a6!important;
}
table .headfirst{
               padding-top:5px!important;
               background:#2874a6;
               color:#fff;
}
table td{
  font-size:15px;
  font-weight:200;
  padding:8px;
  border: 1px solid #2874a6!important;
  color: #000;
}


table td img{
            height:28px;
            width:28px;
}
table td .firstimg{
                 padding-right:10px;
}
/* =============== style of panel =============== */
.panel-heading h2{
    font-size:18px;
    font-weight:bold;
    font-family:'Raleway',sans-serif;
    color:#2874a6;
}
.panel-primary{
               padding:30px;
               background-color:#fff;
}
.panel-heading{
               padding-bottom:15px;
}
.panel-body{
            background-color: #3b5998;
            color:#fff;
            padding: 30px 30px;
            box-shadow:5px 6px 5px #151a30;
            border-radius:5px;
}

/* ================= style css of modal ========================== */

.modal-header{
    background:#2874a6;
    color:#fff;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
}
.modal-header button{
            color:#fff!important;
            width:30px;
            height:30px;
}
.modal-header button span{
                 width:100px!important;
                 height:100px!important;
}
.modal-body{
   background-color: #dcdcdc;
   color:#212226;
}
.modal{
margin:0;
padding:0;
box-sizing: border-box;
}

.fa-times{
    background-color:#fff;
    padding:5px;
    color:#212226;
    border-radius:50%;
}
.footermodal{
     margin-top:25px;

}
.footermodal button{
             width:80%;
             color:#fff!important;
             border:none;
             padding:8px;
}

a {
    width:80%;
    border:none;
    padding:8px;
}
.fa-design{
    background-color:#fff!important;
    color:#212226;
    padding:5px;
    position:absolute;
    right: 5%;
    border-radius:50%;
}
form{
    margin:0!important;
    padding:0!important;
    border-radius: none!important;
}