
<!-- <div class="loading" *ngIf="isLoading">
    <div class="spinner"></div>
</div> -->
<div class="row m-0 mt-4">
    <div class="col-md-2">
        <h2 style="color: #4267b2;margin: 10px auto 10px 14px;font-weight: bold;"> Order</h2>
    </div>
    <div class="col-md-10">
        <pos-options [selectedItem]="selectedItem" [orders]="orders$" (showTicketNote)="showTicketNote()" (createNewTicket)="createNewTicket()" (printBill)="printBill()" (removeItem)="removeItem($event)" (voidItem)="voidItem($event)" (incrementQty)="incrementQty($event)" (decrementQty)="decrementQty($event)" (toogleGiftItem)="toogleGiftItem($event)" (moveItems)="moveItems($event)"></pos-options>
    </div>
</div>
<div [formGroup]="postableForm" class="row m-0 mt-4">
    <div class="col-8" formArrayName="AccountTransactionValues">
        <div class="row m-0 mt-2" *ngFor="let AccountTransactionValue of AccountTransactionValues.controls; let i=index" [formGroupName]="i">
            <div class="col-3">
                <select class="form-control " formControlName="AccountId">
                    <option value="water"> water</option>
                    <option value="coke"> coke</option>
                    <option value="pizza"> pizza</option>
                    <option value="water"> water</option>
                    <!-- <option *ngFor="let accounts of account" [ngValue]="accounts.Id">{{accounts.Name}}</option> -->
                </select>
                <small [hidden]="postableForm.controls.AccountTransactionValues.controls[i].controls.AccountId.valid" class="text-danger">
                    Particular Name is required
                </small>
            </div>
            <div class="col-3">
                <input type="number" class="form-control" placeholder="quantity" formControlName="Credit">
                <small [hidden]="postableForm.controls.AccountTransactionValues.controls[i].controls.Credit.valid" class="text-danger">
                    quantity is required
                </small>
            </div>
            <div class="col-3">
                <textarea name="Description" class="form-control" formControlName="Description" rows="1" cols="20"></textarea>
            </div>
            <div class="col-3" *ngIf="AccountTransactionValues.controls.length > 1">
                <button class="btn btn-danger" (click)="removeTrackerModel(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="row m-0 mt-2">
            <div class="col-sm-12">
                <button class="btn btn-success" (click)="addCategory()">Add</button>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <pos-tickets [table]="table"
                     [toOpenTicketId]="toOpenTicketId"
                     *ngIf="checkTicket()">
        </pos-tickets>
        <pos-orders *ngIf="selectedTicket"
                    [table]="table$ | async"
                    [ticket]="ticket$ | async"
                    [products]="products$ | async"
                    [orders]="orders$ | async"
                    [selectedTable]="selectedTable"
                    [selectedCustomerId]="selectedCustomerId"
                    (selectOrderItem)="selectOrderItem($event)"
                    (printBill)="printBill()">
        </pos-orders>
    </div>
</div>