
<!-- <div class="loading" *ngIf="isLoading">
    <div class="spinner"></div>
</div> -->
<div class="row m-0 mt-4">
    <div class="col-md-2">
        <h2 style="color: #4267b2;margin: 10px auto 10px 14px;font-weight: bold;"> Order</h2>
    </div>
    <div class="col-md-10">
        <pos-options 
            *ngIf="ordersNew"
            [selectedItem]="selectedItem" 
            [orders]="ordersNew" 
            (showTicketNote)="showTicketNote()"
            (createNewTicket)="createNewTicket()"
            (printBill)="printBill()" 
            (removeItem)="removeItem($event)" 
            (voidItem)="voidItem($event)"
            (incrementQty)="incrementDecrementQty($event,'increaseQuantity')"
            (decrementQty)="incrementDecrementQty($event,'decreaseQuantity')"
            (toogleGiftItem)="toogleGiftItem($event)"
            (moveItems)="moveItems($event)">
        </pos-options>
    </div>
</div>


<div [formGroup]="postableForm" class="row m-0 mt-4">
    <div class="col-7 card" formArrayName="AccountTransactionValues">
        <div class="row m-0 mt-3" *ngFor="let AccountTransactionValue of AccountTransactionValues.controls; let i=index" [formGroupName]="i">
            <div class="col-sm-10">
                <div class="row m-0">
                <div class="col-sm-8">
                <label class="font-weight-bold">Menu Items</label>
                <!-- <select class="form-control " formControlName="productId">
                <option value="water"> water</option>
                <option value="coke"> coke</option>
                <option value="pizza"> pizza</option>
                <option value="water"> water</option>
                <!-- <option *ngFor="let accounts of account" [ngValue]="accounts.Id">{{accounts.Name}}</option> -->
                <!-- </select> -->
                <ngx-select-dropdown
                (change)="selectionChanged($event,i)"
                [multiple]="false"
                [config]="config"
                formControlName="productId"
                [options]="productList">
                </ngx-select-dropdown>
                <!-- <small [hidden]="postableForm.controls.AccountTransactionValues.controls[i].controls.productId.valid" class="text-danger">
                Particular Name is required
                </small> -->
                </div>
                <div class="col-sm-4">
                <label class="font-weight-bold">Quantity</label>
                <input type="number" class="form-control" placeholder="quantity" formControlName="quantity">
                <!-- <small [hidden]="postableForm.controls.AccountTransactionValues.controls[i].controls.quantity.valid" class="text-danger">
                quantity is required
                </small> -->
                </div>
                </div>
                
                <div class="row m-0">
                <div class="col-sm-12">
                <label class="font-weight-bold">Description</label>
                <textarea name="description" class="form-control" formControlName="description" rows="1" cols="20"></textarea>
                </div>
                </div>
                </div>
                
                <div class="col-sm-2 mt-4" *ngIf="AccountTransactionValues.controls.length > 1">
                <button class="btn btn-danger" (click)="removeTrackerModel(i)">
                <i class="fa fa-trash"></i>
                </button>
                </div>
                
        </div>
        <div class="col-sm-2 mt-5">
            <button
            class="btn bg-blue" (click)="addCategory()" [disabled]="!AccountTransactionValues.valid">Add</button>
        </div>
        <div class="mb-2">
            <button (click)="createOrder()"  style="float:right" class="btn btn-success" [disabled]="!AccountTransactionValues.valid">Create Order</button>
            <!-- <button class="btn btn-secondary">Cancel Order</button> -->
        </div>
    </div>

    <div class="col-md-5">
        <pos-tickets [table]="table"
                     [toOpenTicketId]="toOpenTicketId"
                     *ngIf="checkTicket()">
        </pos-tickets>



        <pos-orders  *ngIf="selectedTicket && (ordersNew.length > 0) && (productList.length > 0)" 
                    [table]="tableNew"
                    [ticket]="ticket$ | async"
                    [products]="productList"
                    [orders]="ordersNew"
                    [selectedTable]="selectedTable ? selectedTable : ''"
                    [selectedCustomerId]="selectedCustomerId"
                    (selectOrderItem)="selectOrderItem($event)"
                    (printBill)="printBill()">
        </pos-orders>
    </div>
</div>

<!-- *ngIf="selectedTicket && tableNew  && (ordersNew.length > 0) && (productList.length > 0)" -->