h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 0px;
    padding: 0px;
}
td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
    font-size: 12px;
    font-family: 'Times New Roman';
}

td.description,
th.description {
    width: 180px;
    max-width: 180px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 60px;
    max-width: 60px;
    text-align: right;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 360px;
    max-width: 360px;
}

img {
    max-width: inherit;
    width: inherit;
}

.printable{
    display: none !important;
}



@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }

    .no-print{
        display: none !important;
    }

    @page :footer {color: #fff }
    @page :header {color: #fff}

    html, body {
        height:100%; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
        position: absolute;
        width: 76mm;
    }

    .printable{
      display: block !important;
      page-break-after: always; 
      page-break-after: avoid; 
      font-size: 24pt !important;
      color: black;
      margin-top: 0;
      margin-left: 0.01in;
      margin-right: 0.01in;
      width: 76mm;
    }
}
  .btn {
    white-space:normal !important;
    word-wrap: break-word; 
  }