<div class="row m-0">
    <div class="pos-content no-print">
        <h2 style="color: #4267b2;margin: 10px auto 10px 14px;font-weight: bold;"> Print Invoice</h2>
    </div>
    <div class="row m-0 mt-2 ml-3">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary no-print" id="printButton" (click)="printBill()">
                <i class="fa fa-print fa-lg mr-1"></i>Print</button>
            <button class="btn btn-danger no-print ml-3 " id="CloseButton" (click)="close()">
                <i class="fa fa-ban fa-lg mr-1"></i>
                Close</button>

        </div>
        <!-- <div class="col-md-6">
            <button class="btn btn-danger no-print" id="CloseButton" (click)="close()">Close</button>
        </div> -->
        <div class="row d-print-none">
            <div class="col-sm-12">
                <table id="InvoiceTable" class='table table-striped' *ngIf='parsedOrders && parsedOrders.length'>
                    <thead>
                        <tr>
                            <th colspan="4" class="text-center">
                                <div><h2>{{ company?.NameEnglish }}</h2></div>
                                <div>{{ company?.Address }} {{ company?.Street }} {{ company?.City }} {{ company?.District }}</div>
                                <div>{{ company?.Email }} {{ company?.Phone }}</div>
                                <div> PAN/VAT : {{ company?.Pan_Vat }}</div>
                                <div>
                                    Bill No: {{ ticket ? '#' + ticket?.TicketId : '' }}
                                </div>
                                <div>
                                    Date : {{ticket.TicketOpeningTime | date :'yyyy-MM-dd hh:mm' }}
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table id="InvoiceTableData" class='table table-striped'>
                                    <thead>
                                        <tr style="color:darkslateblue">
                                            <th width="5%">S.N. </th>
                                            <th width="55%">Details</th>
                                            <th width="10%" align="center">Quantity</th>
                                            <th width="15%" style="text-align:right">Per Unit<br /> <span>Amount <br />(Rs.)</span></th>
                                            <th width="15%" style="text-align:right">Total <br /><span>Amount <br />(Rs.)</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of OrderItems; let i = index ">
                                            <td width="5%">
                                                {{i + 1}}
                                            </td>
                                            <td width="55%">
                                                <span>{{ getProductById(productList, item.ItemId)?.Name }}</span>
                                            </td>
                                            <td align="center" width="10%">
                                                <strong>{{ item.Qty }}</strong>
                                            </td>
                                            <td align="right" width="15%">
                                                {{ CurrentUnitPrice(item.UnitPrice) }}
                                            </td>
                                            <td align="right" width="15%">
                                                {{ ProductPrice(item.UnitPrice, item.Qty) }}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                           
                                            <td colspan="5" align="right">Total : {{ calculateSum().toFixed(2) }}</td>
                                        </tr>
                                        <tr>
                                            
                                            <td colspan="5" align="right">Discount : {{ calculateDiscount()}}</td>
                                        </tr>
                                      
                                        <tr>
                                            
                                            <td colspan="5" align="right">VAT % : {{ calculateVat() }}</td>
                                        </tr>
                                        <tr>
                                            
                                            <td colspan="5" align="right">Grand Total : {{ getGrandTotal() }}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<iframe id='iframePrint' frameborder="0" name='fancyiframe' style="visibility: hidden;height:0px;width:0px;"></iframe>


<div class="col-12 d-none d-print-block printable" style="width: 100mm;margin: 0;">
    <div class="row">
        <div class="col-12 text-center font-weight-bold">
            {{ company?.NameEnglish }}
        </div>
        <div class="col-12 text-center font-weight-bold">
            {{ company?.Address }} {{ company?.Street }} {{ company?.City }} {{ company?.District }}
        </div>
        <div class="col-12 text-center font-weight-bold">
            {{ company?.Email }} {{ company?.Phone }}
        </div>
        <div class="col-12 text-center font-weight-bold">
            PAN/VAT : {{ company?.Pan_Vat }}
        </div>
        <div class="col-12 text-center font-weight-bold">
            Bill No: {{ ticket ? '#' + ticket?.TicketId : '' }}
        </div>
        <div class="col-12 text-center font-weight-bold">
            Date : {{ticket.TicketOpeningTime | date :'yyyy-MM-dd hh:mm' }}
        </div>
    </div>
    <table class="table table-bordered" width="450px">
        <thead>
            <tr>
                <th>S.N. </th>
                <th>Details</th>
                <th>Qty</th>
                <th>Unit(Rs.)</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of OrderItems; let i = index ">
                <td>
                    {{i + 1}}
                </td>
                <td>
                    <span>{{ getProductById(productList, item.ItemId)?.Name }}</span>
                </td>
                <td>
                    <strong>{{ item.Qty }}</strong>
                </td>
                <td>
                    {{ CurrentUnitPrice(item.UnitPrice) }}
                </td>
                <td>
                    {{ ProductPrice(item.UnitPrice, item.Qty) }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-right">Total : {{ calculateSum().toFixed(2) }}</td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">Discount : {{ calculateDiscount()}}</td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">VAT % : {{ calculateVat() }}</td>
            </tr>
            <tr>
                <td colspan="5" class="text-right">Grand Total : {{ getGrandTotal() }}</td>
            </tr>
        </tfoot>
    </table>
</div>
<!-- commented -->
