.printable{
    display: none !important;
}



@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }

    .no-print{
        display: none !important;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }

    @page :footer {color: #fff }
    @page :header {color: #fff}

    html, body {
        height:100%; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
        position: absolute;
        width: 76mm;
    }

    .printable{
      display: block !important;
      page-break-after: always; 
      page-break-after: avoid; 
      font-size: 24pt !important;
      color: black;
      margin-top: 0;
      /* margin-left: 0.01in;
      margin-right: 0.01in; */
      /* margin-left: 0;
      margin-right: 0;
      width: 76mm; */
      margin-left: 0.000001in;
      margin-right: 0;
      margin-bottom:auto;
      width: 80mm;
    }
}