.department {
    background: #fff;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.departments ul {
    padding: 5px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.item{
    background: #bdc4d3;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    color: #182133;
}
/* .item:hover {
    background: #8491ac;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    color: #182133;
} */

.selected{
    background: #364a70;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
    color: #fff;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
.m-0 {
    margin: 0!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.printable{
    display: none !important;
}



@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }

    .no-print{
        display: none !important;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
    }

    @page :footer {color: #fff }
    @page :header {color: #fff}

    html, body {
        height:100%; 
        margin: 0 !important; 
        padding: 0 !important;
        overflow: hidden;
        position: absolute;
        width: 76mm;
    }

    .printable{
      display: block !important;
      page-break-after: always; 
      page-break-after: avoid; 
      font-size: 24pt !important;
      color: black;
      margin-top: 0;
      /* margin-left: 0.01in;
      margin-right: 0.01in; */
      /* margin-left: 0;
      margin-right: 0;
      width: 76mm; */
      margin-left: 0.000001in;
      margin-right: 0;
      margin-bottom:auto;
      width: 80mm;
    }
}