<ng-template #template>
    <form class="panel-primary" novalidate (ngSubmit)="onSubmit(InventFrm)" [formGroup]="InventFrm">
        <div class="modal-header panel-heading" style="background-color: #364a70;">
            <h4 class="modal-title pull-left">{{modalTitle}}</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-md-4">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name " formControlName="Name">
                    <div class="alert alert-danger" *ngIf="InventFrm.get('Name').hasError('required') && formSubmitAttempt">
                        Name is required
                    </div>

                </div>

                <div class="col-md-4">
                    <label>Opening Stock</label>
                    <input type="number" class="form-control" placeholder="Opening Stock" formControlName="OpeningStock">
                    <div class="alert alert-danger" *ngIf="InventFrm.get('OpeningStock').hasError('required') && formSubmitAttempt">
                        Opening Stock is required
                    </div>
                </div>



                <div class="col-md-4">
                    <label>Rate</label>
                    <input type="number" class="form-control" placeholder="Opening Stock Rate" formControlName="OpeningStockRate">
                        <div class="alert alert-danger" *ngIf="InventFrm.get('OpeningStockRate').hasError('required') && formSubmitAttempt">
                            Rate is required
                        </div>
                </div>
               
            </div>
          
               
            <div class="row mt-4">

                <div class="col-md-4">
                    <label>Amount</label>
                    <input type="number" class="form-control" placeholder="Opening Stock Amount" formControlName="OpeningStockAmount" value="{{calculateGndAmount()}}">
                </div>

                <div class="col-md-4">
                    <label>Purchase Unit Type:</label>
                    <select class="form-control" formControlName="BaseUnit">
                        <option *ngFor="let UnitType of UnitTypes" value={{UnitType.Name}}>{{UnitType.Name}}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="InventFrm.get('BaseUnit').hasError('required') && formSubmitAttempt">
                        Purchase Unit Type is required
                    </div>
                </div>

                <div class="col-md-4">
                    <label>Transaction Unit Type:</label>
                    <select class="form-control" formControlName="TransactionUnit">
                        <option *ngFor="let UnitType of UnitTypes" value={{UnitType.Name}}>{{UnitType.Name}}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="InventFrm.get('TransactionUnit').hasError('required') && formSubmitAttempt">
                        Transaction Unit Type is required
                    </div>
                </div>

            </div>
          

            <div class="row mt-4">

                <div class="col-md-4">
                    <label>Transaction Unit Divided:</label>
                    <input type="number" class="form-control" placeholder="Transaction Unit Divided" formControlName="TransactionUnitMultiplier">
                    <div class="alert alert-danger" *ngIf="InventFrm.get('TransactionUnitMultiplier').hasError('required') && formSubmitAttempt">
                        Unit Divided is required
                    </div>
                </div>


                <div class="col-md-4">
                    <label>Stock Limit</label>
                    <input type="number" class="form-control" placeholder="Stock Limit" formControlName="StockLimit">
                    <div class="alert alert-danger" *ngIf="InventFrm.get('StockLimit').hasError('required') && formSubmitAttempt">
                        Stock Limit is required
                    </div>
                </div>

                <div class="col-md-4">
                    <label>Category:</label>
                    <select ng-model="categories.Name" class="form-control" placeholder="Category " formControlName="Category">
                        <option *ngFor="let categories of category" value={{categories.Name}}>{{categories.Name}}</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="InventFrm.get('Category').hasError('required') && formSubmitAttempt">
                        Category is required
                    </div>
                </div>

            </div>
           
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success pull-left">{{modalBtnTitle}}</button>
            <button 
                type="button"
                class="btn btn-danger"
                (click)="CloseForm()">
                Cancel
            </button>
           
        </div>
    </form>
</ng-template>
<!-- <div class="container">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
            Inventory Items
        </div>
        <div class='panel-body'>
            <div class='table-responsive'>
                <div class="col-md-5"> <div style="padding-bottom:10px"><img src="../../images/Add.png" (click)="addInventory()" height="60" width="60" /></div></div>
                <div class="col-md-1"> Search: </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" [(ngModel)]="ItemName" placeholder="Search by Name">
                </div>
                <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
                <div *ngIf='InventoryItems && InventoryItems.length==0' class="alert alert-info" role="alert">No record found!</div>
                <table class='table table-striped' *ngIf='InventoryItems && InventoryItems.length'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Opening Stock</th>
                            <th>Rate</th>
                            <th>Stock Limit</th>
                            <th>Category</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let InventoryItem of InventoryItems">
                            <td>{{InventoryItem.Name}}</td>
                            <td>{{InventoryItem.OpeningStock}}</td>
                            <td>{{InventoryItem.OpeningStockRate.toFixed(2)}}</td>
                            <td>{{InventoryItem.StockLimit}}</td>
                            <td>{{InventoryItem.Category}}</td>
                            <td>
                                <span><img src="../../images/Edit.png" (click)="editInventory(InventoryItem.Id)" height="60" width="60" /></span>
                                <span><img src="../../images/Delete.png" (click)="deleteInventory(InventoryItem.Id)" height="60" width="60" /></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf='InventoryItems && InventoryItems.length' class="alert alert-info" role="alert">
                <div style="padding-bottom:10px"><img src="../../images/Add.png" (click)="addInventory()" height="60" width="60" /></div>
                </div>
            </div>
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
            </div>
        </div>
    </div>
</div> -->

<div class="container" style="padding-top: 20px;">
    <div class="row m-0 mt-3">
        <div class="col-md-4">
            <h2 class="header">Inventory Items</h2>
        </div>
        <div class="col-md-4">
            <input  type="text" class="form-control"
                    (keyup)="searchItem()" 
                    [(ngModel)]="searchKeyword" 
                    placeholder="Search by Name">
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)="addInventory()" style="float: right">
                <strong>
                    <i class="fa fa-plus"></i>
                    Add
                </strong>
            </button>
        </div>
    </div>
    <div class="row m-0 mt-2">
        <div class="col-sm-12 table-responsive">
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../assets/images/loading.gif" width="32" height="32" /> Loading...</div>
            <table class='table table-bordered' *ngIf='InventoryItems && InventoryItems.length'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Opening Stock</th>
                        <th>Rate</th>
                        <th>Stock Limit</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let InventoryItem of InventoryItems">
                        <td>{{InventoryItem.Name}}</td>
                        <td>{{InventoryItem.OpeningStock}}</td>
                        <td>{{InventoryItem.OpeningStockRate.toFixed(2)}}</td>
                        <td>{{InventoryItem.StockLimit}}</td>
                        <td>{{InventoryItem.Category}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="editInventory(InventoryItem.Id)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm ml-2" (click)="deleteInventory(InventoryItem.Id)">
                                <i class="fa fa-trash"></i>
                            </button>
                            <!-- <span><img src="../../images/Edit.png" (click)="editInventory(InventoryItem.Id)" height="60" width="60" /></span>
                            <span><img src="../../images/Delete.png" (click)="deleteInventory(InventoryItem.Id)" height="60" width="60" /></span> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf='InventoryItems && InventoryItems.length==0' class="alert alert-info" role="alert">No record found!</div>
        </div>
    </div>
</div>